@mixin base-avatar($size: 2rem) {
  display: inline-block;
  height: $size;
  width: $size;
  min-width: $size;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  .avatar-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.avatar {
  @include base-avatar();

  &.avatar-s4{
    @include base-avatar(4rem);
  }

  &.avatar-s6{
    @include base-avatar(6rem);
  }

  &.avatar-s8 {
    @include base-avatar(8rem);
  }
}
