// Badge
@mixin base-badge($background-color, $color) {
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: $font-heading;
  @include custom-box-shadow($shadow-medium);

  @include display-inline-flex();
  @include align-items(center);
  @include justify-content(center);

  color: $color;
  background-color: $background-color;
}

.badge {
  height: 1.5rem;
  width: 1.5rem;

  &.badge-primary {
    @include themify($themes) {
      @include base-badge(themed('colorPrimary'), themed('cardBackgroundColor'));
    }
  }

  &.badge-accent {
    @include themify($themes) {
      @include base-badge(themed('colorAccent'), themed('cardBackgroundColor'));
    }
  }

  &.badge-success {
    @include themify($themes) {
      @include base-badge(themed('colorSuccess'), themed('cardBackgroundColor'));
    }
  }

  &.badge-warning {
    @include themify($themes) {
      @include base-badge(themed('colorWarning'), themed('cardBackgroundColor'));
    }
  }

  &.badge-info {
    @include themify($themes) {
      @include base-badge(themed('colorInfo'), themed('cardBackgroundColor'));
    }
  }

  &.badge-danger {
    @include themify($themes) {
      @include base-badge(themed('colorDanger'), themed('cardBackgroundColor'));
    }
  }

  &.badge-light {
    @include themify($themes) {
      @include base-badge(themed('rootBackgroundColor'), themed('textBodyColor'));
    }
  }
}
