$btn-transitions: background-color .3s ease, border-color .3s ease, color .3s ease;

// Button Styles
@mixin base-button() {
  padding: 0 1rem;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: 1px solid $transparent;
  border-radius: $root-borderRadius;
  font-size: 1rem;
  font-family: $font-heading;
  font-weight: 500;
  height: 2.5rem;
  position: relative;
  @include display-inline-flex();
  @include align-items(center);
  @include justify-content(center);
  @include transition($btn-transitions);

  .svg-icon-container {
    font-size: 1.25rem;
  }
}

@mixin default-button($backgroundColor, $text-color) {
  background-color: $backgroundColor;
  color: $text-color;
  fill: currentColor;
  border: 1px solid darken($backgroundColor, 2%);
  &:not(&:disabled) {
    &:hover {
      background-color: darken($backgroundColor, 4%);
      border-color: darken($backgroundColor, 6%);
    }

    &:focus,
    &:active {
      background-color: darken($backgroundColor, 4%);
      border-color: darken($backgroundColor, 6%);
      box-shadow: 0 0 0.375rem rgba($backgroundColor, 0.72);
    }
  }
}

@mixin outline-button($borderColor) {
  background-color: transparent;
  color: $borderColor;
  border: 1px solid $borderColor;

  &:not(&:disabled) {
    &:hover {
      color: $borderColor;
      background-color: rgba($borderColor, 12%);
    }

    &:focus,
    &:active {
      color: $borderColor;
      background-color: rgba($borderColor, 12%);
      box-shadow: 0 0 0.375rem rgba($borderColor, 0.72);
    }
  }
}

@mixin link-button($text-color) {
  background-color: $transparent;
  border-color: $transparent;
  color: $text-color;

  &:not(&:disabled) {
    &:hover {
      background-color: rgba($text-color, 12%);
      border-color: rgba($text-color, 2%);
    }

    &:focus,
    &:active {
      background-color: rgba($text-color, 20%);
    }
  }
}

@mixin base-icon-button() {
  @include base-button();
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  padding: 0;
  font-size: 1.25rem;

  &.icon-btn-s32 {
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    font-size: 1.125rem;
  }
}

.btn {
  @include base-button();

  &:disabled {
    @include themify($themes) {
      border-color: $transparent;
      color: themed('textSubtitleColor');
      background-color: rgba(themed('textSubtitleColor'), 0.16);
      opacity: 0.75;
      cursor: not-allowed;
    }
  }
}

.icon-btn {
  @include base-icon-button();
}

.icon-btn-circular {
  border-radius: 50% !important;
}

/* Solid colored buttons */
.btn-primary {
  @include themify($themes) {
    @include default-button(themed('colorPrimary'), themed('trueWhite'));
  }
}

.btn-accent {
  @include themify($themes) {
    @include default-button(themed('colorAccent'), themed('trueWhite'));
  }
}

.btn-info {
  @include themify($themes) {
    @include default-button(themed('colorInfo'), themed('trueWhite'));
  }
}

.btn-danger {
  @include themify($themes) {
    @include default-button(themed('colorDanger'), themed('trueWhite'));
  }
}

.btn-warning {
  @include themify($themes) {
    @include default-button(themed('colorWarning'), themed('trueWhite'));
  }
}

.btn-success {
  @include themify($themes) {
    @include default-button(themed('colorSuccess'), themed('trueWhite'));
  }
}

.btn-light {
  @include themify($themes) {
    @include default-button(themed('colorLight'), themed('textBodyColor'));
    &:not(&:disabled) {
      &:hover {
        color: themed('textBodyColor');
        background-color: mix(themed('colorLight'), themed('textTitleColor'), 92%);
      }

      &:focus {
        box-shadow: none;
        background-color: mix(themed('colorLight'), themed('textTitleColor'), 86%);
      }
    }
  }
}


/* Outline buttons */
.btn-outline-primary {
  @include themify($themes) {
    @include outline-button(themed('colorPrimary'));
  }
}

.btn-outline-accent {
  @include themify($themes) {
    @include outline-button(themed('colorAccent'));
  }
}

.btn-outline-info {
  @include themify($themes) {
    @include outline-button(themed('colorInfo'));
  }
}

.btn-outline-danger {
  @include themify($themes) {
    @include outline-button(themed('colorDanger'));
  }
}

.btn-outline-warning {
  @include themify($themes) {
    @include outline-button(themed('colorWarning'));
  }
}

.btn-outline-success {
  @include themify($themes) {
    @include outline-button(themed('colorSuccess'));
  }
}

.btn-outline-light {
  @include themify($themes) {
    @include outline-button(themed('textSubtitleColor'));
    background-color: $transparent;
    &:not(&:disabled) {
      &:hover {
        color: themed('textBodyColor');
        background-color: themed('colorLight');
      }

      &:focus {
        box-shadow: none;
        background-color: mix(themed('colorLight'), themed('textTitleColor'), 92%);
      }
    }
  }
}


/* Link buttons */
.btn-link-primary {
  @include themify($themes) {
    @include link-button(themed('colorPrimary'));
  }
}

.btn-link-accent {
  @include themify($themes) {
    @include link-button(themed('colorAccent'));
  }
}

.btn-link-info {
  @include themify($themes) {
    @include link-button(themed('colorInfo'));
  }
}

.btn-link-danger {
  @include themify($themes) {
    @include link-button(themed('colorDanger'));
  }
}

.btn-link-warning {
  @include themify($themes) {
    @include link-button(themed('colorWarning'));
  }
}

.btn-link-success {
  @include themify($themes) {
    @include link-button(themed('colorSuccess'));
  }
}

.btn-link-light {
  @include themify($themes) {
    @include link-button(themed('colorLight'));
    color: themed('textBodyColor');
    &:not(&:disabled) {
      &:hover {
        color: themed('textBodyColor');
        background-color: themed('colorLight');
      }

      &:focus {
        box-shadow: none;
        color: themed('textBodyColor');
        background-color: mix(themed('colorLight'), themed('textTitleColor'), 92%);
      }
    }
  }
}



