$card-default-padding: 1.25rem !default;

@mixin card-base() {
  @include themify($themes) {
    background-color: themed('cardBackgroundColor');
    @include custom-box-shadow($shadow-default);
    border-radius: $root-borderRadius;
  }
}

.card {
  @include card-base();
  padding: $card-default-padding;

  .card-header {
    @include display-flex();
    @include align-items(center);
    @include justify-content(space-between);
    margin: (-$card-default-padding) (-$card-default-padding) 0 (-$card-default-padding);
    padding: $card-default-padding;

    &.with-border {
      @include themify($themes) {
        border-bottom: 1px solid themed('rootBorderColor');
      }
    }

    .title {
      margin: 0;
    }
  }

  .card-body {
    padding: 1rem 0;
  }

  .card-footer {
    margin: 0 (-$card-default-padding) (-$card-default-padding) (-$card-default-padding);
    padding: $card-default-padding;

    &.with-border {
      @include themify($themes) {
        border-bottom: 1px solid themed('rootBorderColor');
      }
    }
  }

  &.elevation-flat {
    @include custom-box-shadow(none);
    @include themify($themes) {
      border: 1px solid themed('rootBorderColor');

      &.with-hover-style {
        cursor: pointer;
        @include transition(background-color .3s ease);

        &:hover {
          background-color: themed('rootHoverBackgroundColor');
        }
      }
    }
  }
}
