@mixin base-icon-container($color) {
  background-color: rgba($color, 0.08);
  color: $color;

  .svg-icon-container {
    font-size: 1.125rem;
  }

  .indicator {
    background-color: $color;
  }

  &.s24 {
    height: 1.5rem;
    width: 1.5rem;
    min-width: 1.5rem;

    .svg-icon-container {
      font-size: 1rem
    }
  }

  &.s40 {
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;

    .svg-icon-container {
      font-size: 1.25rem
    }
  }
}

.circular-icon {
  @include display-inline-flex();
  @include justify-content(center);
  @include align-items(center);

  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  border-radius: 50%;
  position: relative;

  .indicator {
    display: inline-block;
    height: 0.875rem;
    width: 0.875rem;
    min-width: 0.875rem;
    border-radius: 50%;
    position: absolute;
    right: -0.25rem;
    top: -0.125rem;
    @include themify($themes) {
      border: 2px solid themed('cardBackgroundColor');
    }
  }

  &.default {
    @include themify($themes) {
      @include base-icon-container(themed('colorAccent'));
    }
  }

  &.warning {
    @include themify($themes) {
      @include base-icon-container(themed('colorWarning'));
    }
  }

  &.danger {
    @include themify($themes) {
      @include base-icon-container(themed('colorDanger'));
    }
  }

  &.success {
    @include themify($themes) {
      @include base-icon-container(themed('colorSuccess'));
    }
  }

  &.info {
    @include themify($themes) {
      @include base-icon-container(themed('colorInfo'));
    }
  }

  &.light {
    @include themify($themes) {
      @include base-icon-container(themed('textBodyColor'));
    }
  }

  &.transparent {
    @include themify($themes) {
      @include base-icon-container(themed('colorLight'));
      background-color: $transparent;

      &:hover {
        background-color: themed('rootHoverBackgroundColor');
      }
    }
  }
}
