.confirm-delete-modal {
  max-width: 32rem;

  .modal-header {
    @include justify-content(space-between);

    .title {
      margin: 0;
      @include themify($themes) {
        color: themed('colorPrimary');
      }
    }
  }

  .modal-body {
    min-height: 5rem;
    .info {
      margin: 1rem 0 1.5rem 0;
    }

    .reading-list-container {

      .reading-container {
        @include display-flex();
        @include align-items(center);
        @include justify-content(space-between);
        margin-bottom: 1.25rem;
        margin-top: 1rem;
        padding-top: 1rem;
        @include themify($themes) {
          border-top: 1px solid themed('rootBorderColor');
        }

        .title {
          margin-bottom: 0.5rem;
        }

        .selected-reading-container {
          .svg-icon-container {
            margin-right: 0.75rem;
            @include themify($themes) {
              color: themed('colorAccent');
            }
          }
        }

        .selected-reading-info {
          @include display-flex();
          @include flex-direction(column);

          .reading-item {
            font-size: 0.875rem;
            margin-bottom: 0.25rem;
            @include themify($themes) {
              color: themed('textSubtitleColor');
            }
          }
        }
      }

      .selected-reading-container {
        @include display-flex();
      }
    }
  }

  .modal-footer {
    .btn-container {
      flex: 1 1 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
  }

  .grid-row {
    grid-row-gap: 0;
  }
}
