$animation-type: right 0.5s ease, left 0.5s ease;

.drawer-container-wrapper {

}

.drawer-container {
  @include display-flex();
  @include flex-direction(column);
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: $zIndex-199;
  max-width: 30rem;
  @include transition($animation-type);
  @include custom-box-shadow($shadow-medium);
  @include themify($themes) {
    background-color: themed('popoverBackgroundColor');
  }

  &.start {
    left: 0;
  }

  &.end {
    right: 0;
  }

  .drawer-header {
    @include display-flex();
    @include align-items(center);
    position: relative;
    padding: 1rem;
    min-height: 4.5rem;

    @include themify($themes) {
      border-bottom: 1px solid themed('rootBorderColor');
    }

    .drawer-close {
      position: absolute;
      right: 0.5rem;
      top: 1rem;
    }
  }

  .drawer-body {
    padding: 1rem;
  }

  .drawer-footer {
    padding: 1rem;
  }
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: $zIndex-100;
}
