$dropdown-hover-color-dark: rgba(255, 255, 255, 0.08);
$dropdown-border-color-dark: rgba(255, 255, 255, 0.08);
$dropdown-options-background-color-dark: $popover-backgroundColor--dark;

.nico-advanced-select{
  .advanced-select-option-container{
    .svg-icon-container {
      font-size: 1rem;
    }
  }
}
.nico-action-fly-menu {
  .dropdown-option-container {
    .svg-icon-container {
      font-size: 1rem;
    }
  }
}

.theme-dark {
  // Nico advance select overrides
  .nico-advanced-select {

    .advance-select-block {
      border-color: $dropdown-border-color-dark !important;
      background-color: $card-background-color--dark !important;

      &:hover {
        background-color: $dropdown-hover-color-dark !important;
      }
    }

    .advanced-select-option-container {
      border-color: $transparent !important;
      background-color: $dropdown-options-background-color-dark !important;

      .advanced-select-option-item {
        .dropdown-option-list {
          .dropdown-option-item {
            border-color: $dropdown-border-color-dark !important;

            &:hover {
              background-color: $dropdown-hover-color-dark !important;
            }
          }
        }
      }
    }
  }

  // Nico Dropdown
  .dropdown-container {

    .dropdown-icon {
      &:hover {
        background-color: $dropdown-hover-color-dark !important;
      }
    }

    .dropdown-label {
      border-color: $dropdown-border-color-dark !important;
      background-color: $card-background-color--dark !important;

      &:hover {
        background-color: $dropdown-hover-color-dark !important;
      }

      .chevron-down {
        svg {
          fill: $true-white !important;
        }
      }
    }
  }

  .dropdown-option-container {
    border-color: $dropdown-border-color-dark !important;
    background-color: $dropdown-options-background-color-dark !important;
  }

  .dropdown-option {
    &:hover {
      background-color: $dropdown-hover-color-dark !important;
    }

    &.active {
      background-color: $root-borderColor--dark !important;
    }

    .dropdown-item {
      border-color: $dropdown-border-color-dark !important;

      .icon-container {
        svg {
          fill: $true-white !important;
        }
      }
    }
  }
}

