.empty-state {
  padding: 2rem;

  @include themify($themes) {
    color: themed('textBodyColor');
  }

  .empty-default, .empty-box, .empty-notification, .empty-search {
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);
  }

  .message-container{
    text-align: center;
    margin-top: 1.5rem;

    .title{
      margin-bottom: 0.5rem;
    }

    .message {
      font-size: 0.875rem;
    }
  }
}
