$form-control-animation-properties: border-color 0.3s ease, box-shadow 0.3s ease;

.form-group {
  display: block;
  padding-bottom: 1.5rem;
  position: relative;
}

@mixin form-control-states($state-color) {
  border-color: $state-color;

  &:hover {
    &:not(:disabled) {
      border-color: $state-color;
    }
  }

  &:focus {
    &:not(:disabled) {
      border-color: $state-color;
      box-shadow: 0 0 4px rgba($state-color, 0.4);
    }
  }
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: $font-heading;
  font-weight: 500;
  @include themify($themes) {
    color: themed('textBodyColor');
  }
}

.form-control {
  @include themify($themes) {
    display: inline-block;
    position: relative;
    padding: 0.5rem 1rem;
    color: themed('textTitleColor');
    background-color: themed('cardBackgroundColor');
    outline: none;
    font-family: $font-body;
    line-height: 1.4;
    font-size: 1rem;
    border: 1px solid themed('rootBorderColor');
    border-radius: $root-borderRadius;
    width: 100%;
    @include transition($form-control-animation-properties);

    &:hover {
      &:not(:disabled) {
        border-color: rgba(themed('rootBorderColor'), 0.4);
      }
    }

    &:focus {
      &:not(:disabled) {
        border-color: themed('colorPrimary');
        box-shadow: 0 0 6px rgba(themed('colorPrimary'), 0.4);
      }
    }

    &:disabled {
      color: themed('textSubtitleColor');
      background-color: rgba(themed('textSubtitleColor'), 0.16);
      opacity: 0.75;
    }

    &::placeholder {
      color: themed('textSubtitleColor');
    }

    &.error {
      @include form-control-states(themed('colorDanger'));
    }

    &.success {
      @include form-control-states(themed('colorSuccess'));
    }

    &.info {
      @include form-control-states(themed('colorInfo'));
    }

    &.warning {
      @include form-control-states(themed('colorWarning'));
    }
  }
}

.input-group{
  position: relative;
  @include display-flex();
  @include align-items(center);

  &.group-suffix{
    @include flex-direction(row);

    .form-control {
      border-radius: $root-borderRadius 0 0 $root-borderRadius;
    }
  }

  &.group-prefix{
    @include flex-direction(row-reverse);
    .form-control {
      border-radius: 0 $root-borderRadius $root-borderRadius 0;
    }
  }

  .input-group-prefix-item, .input-group-suffix-item {
    padding: 0.5rem 0.75rem;
    height: 2.5rem;
    @include themify($themes) {
      background-color: themed('rootHoverBackgroundColor');
      border: 1px solid themed('rootBorderColor');
    }
  }

  .input-group-prefix-item {
    border-radius: $root-borderRadius 0 0 $root-borderRadius;
    margin-right: -1px;
  }

  .input-group-suffix-item {
    border-radius: 0 $root-borderRadius $root-borderRadius 0;
    margin-left: -1px;
  }
}

.select-form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 2.5rem;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
  @include themify($themes) {
    background-image: themed('backgroundImageSelect');
  }
}

.radio-form-control,
.checkbox-form-control {
  @include display-inline-flex();
  @include align-items(center);
  margin-right: 1rem;
  height: 2.5rem;
  cursor: pointer;

  .radio-input,
  .checkbox-input {
    margin: 0;
    display: none;
    opacity: 0;

    &:hover {
      &:not(:disabled) {
        + .checkbox-label, + .radio-label {
          &:before {
            @include themify($themes) {
              border-color: themed('colorPrimary');
            }
          }
        }
      }
    }
  }

  .checkbox-input {
    @include themify($themes) {

      &:checked {
        + .checkbox-label {
          &:before {
            background-color: themed('colorPrimary');
            background-size: 1rem;
            background-image: themed('backgroundImageCheckboxChecked');
          }
        }
      }

      &:indeterminate {
        + .checkbox-label {
          &:before {
            background-color: themed('colorPrimary');
            background-size: 1rem;
            background-image: themed('backgroundImageCheckboxIndeterminate');
          }
        }
      }

      &:disabled {
        + .checkbox-label {
          color: themed('textSubtitleColor');
          opacity: 0.8;

          &:before {
            background-color: rgba(themed('textSubtitleColor'), 24%);
          }
        }
      }

      &:checked, &:indeterminate {
        &:disabled {
          + .checkbox-label {
            &:before {
              background-color: rgba(themed('textSubtitleColor'), 40%);
            }
          }
        }
      }
    }
  }

  .radio-input {
    + .radio-label {
      &:before {
        border-radius: 50%;
      }
    }

    @include themify($themes) {
      &:checked {
        + .radio-label {
          &:before {
            background-color: themed('colorPrimary');;
            background-size: 1rem;
            background-image: themed('backgroundImageRadio');
          }
        }

        &:disabled {
          + .radio-label {
            &:before {
              background-color: rgba(themed('textSubtitleColor'), 40%);
            }
          }
        }
      }

      &:disabled {
        + .radio-label {
          color: themed('textSubtitleColor');
          opacity: 0.8;

          &:before {
            background-color: rgba(themed('textSubtitleColor'), 24%);
          }
        }
      }
    }
  }

  &.radio-input-only,
  &.checkbox-input-only {
    margin: 0;

    .radio-label,
    .checkbox-label {
      &:before {
        margin: 0;
      }
    }
  }
}

.radio-label,
.checkbox-label {
  @include display-inline-flex();
  @include align-items(center);
  @include themify($themes) {
   color: themed('textSubtitleColor');
  }

  &:before {
    @include display-inline-flex();
    content: '';
    position: relative;
    height: 1rem;
    width: 1rem;
    margin-right: 0.75rem;
    border-radius: $root-borderRadius;
    background-position: center center;
    background-size: 2rem;
    @include transition($form-control-animation-properties);
    @include themify($themes) {
      border: 1px solid themed('rootBorderColor');
    }
  }
}

// Error/Success Info
.info-block {
  font-size: 0.75rem;
  display: inline-block;
  margin-top: 0.25rem;

  @include themify($themes) {
    &.error {
      color: themed('colorDanger');
    }

    &.success {
      color: themed('colorSuccess');
    }

    &.hint {
      color: themed('textSubtitleColor');
    }

    &.warning {
      color: themed('colorWarning');
    }
  }
}
