.search-input {
  position: relative;
  @include themify($themes) {
    .mat-icon {
      position: absolute;
      top: .5rem;
      left: .5rem;
      z-index: $zIndex-1;
    }

    .form-control {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      position: relative;
    }

    .search-actions{
      position: absolute;
      top: 0.625rem;
      right: 0.5rem;
      @include display-flex();
      @include align-items(center);
      @include flex-direction(row-reverse);
    }

    .clear {
      display: inline-block;
      height: 1.25rem;
      width: 1.25rem;
      margin-left: 0.25rem;
      background-image: themed('backgroundImageClose');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }
    }

    .search-spinner {
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      color: themed('colorInfo');
    }
  }
}

input[type="search"] {
  &::-webkit-search-cancel-button {
    display: none;
  }
}
