// Material modal styles
@import '~@angular/cdk/overlay-prebuilt.css';

.cdk-overlay-backdrop {
  transition-duration: 150ms;
}

.mat-dialog-container {
  @include themify($themes) {
    padding: 1.25rem;
    overflow: hidden;
    background-color: themed('popoverBackgroundColor');
  }
}

.modal-header {
  @include display-flex();
  @include align-items(center);
  padding: 1.25rem;
  margin: -1.25rem -1.25rem 0 -1.25rem;

  &.with-border {
    @include themify($themes) {
      border-bottom: 1px solid rgba(themed('rootBorderColor'), 0.072);
    }
  }

  .modal-title {
    @include flex(1 1 auto);
    margin: 0;
  }

  // TODO: Set it as absolute position child if needed
  .modal-close {
  }
}

.modal-body {
  @include flex(1 1 auto);
  padding: 1rem 1.25rem;
  max-height: 60vh;
  min-height: 20rem;
  overflow: auto;
  margin: 0 -1.25rem;
}

.modal-footer {
  @include display-flex();
  @include align-items(center);
  padding: 1.25rem;
  margin: 0 -1.25rem -1.25rem -1.25rem;

  &.with-border {
    @include themify($themes) {
      border-top: 1px solid rgba(themed('rootBorderColor'), 0.072);;
    }
  }
}
