$notification-row-container-hover-animation: background-color 0.3s ease, opacity 0.3s ease;

.notification-row-container {
  position: relative;
  padding: 1rem;
  @include align-items(flex-start);
  @include themify($themes) {
    cursor: pointer;
    @include transition($notification-row-container-hover-animation);

    &:hover {
      background-color: rgba(themed('colorInfo'), 0.032);
    }

    &.notification-row-unread {
      background-color: rgba(themed('colorInfo'), 0.032);

      &:hover {
        opacity: 0.88;
      }
    }

    .notification-row-date-time {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 0.75rem;
      color: themed('textSubtitleColor');
    }

    .circular-icon-container {
      margin-right: 1rem;
    }

    .notification-row-header {
      text-transform: uppercase;
      font-size: 0.75rem;
      color: themed('textSubtitleColor');
      margin-bottom: 0.25rem;
      margin-right: 6rem;
    }

    .notification-row-title {
      font-family: $font-heading;
      color: themed('textTitleColor');
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    .notification-row-details {
      font-size: 0.875rem;
      color: themed('textSubtitleColor');
    }

    &.with-border {
      border-bottom: 1px solid themed('rootBorderColor');
    }
  }
}
