@mixin base-pill($background, $color) {
  background-color: $background;
  color: $color;
  white-space: nowrap;
  @include pill-hover-styles($background);
}

@mixin pill-hover-styles($backgroundColor, $isLightTheme: true) {

  @if ($isLightTheme) {
    &:hover {
      background-color: darken($backgroundColor, 6%);
    }

    &:active,
    &:focus {
      background-color: darken($backgroundColor, 10%);
    }
  } @else {
    &:hover {
      background-color: lighten($backgroundColor, 10%);
    }

    &:active,
    &:focus {
      background-color: lighten($backgroundColor, 14%);
    }
  }
}

.pill {
  @include display-inline-flex();
  @include align-items(center);
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem;
  margin: 0.5rem;
  border-radius: 2rem;
  cursor: default;
  line-height: 1.6;
  @include transition(background-color 0.3s ease);

  .remove-icon {
    @include themify($themes) {
      @include display-inline-flex();
      @include align-items(center);
      @include justify-content(center);
      cursor: pointer;
      background-color: rgba(themed('textTitleColor'), 0.72);
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;
      margin-left: 0.5rem;
      margin-right: -0.5rem;

      &:hover {
        background-color: rgba(themed('textTitleColor'), 0.8);
      }

      .svg-icon-container {
        font-size: 1rem;
        color: themed('trueWhite');
      }
    }
  }

  // Colors
  &.pill-light {
    @include themify($themes) {
      @include base-pill(themed('pillDefaultBackgroundColor'), themed('textTitleColor'));
    }
  }

  &.pill-success {
    @include themify($themes) {
      @include base-pill(themed('colorSuccess'), themed('trueWhite'));
    }
  }

  &.pill-warning {
    @include themify($themes) {
      @include base-pill(themed('colorWarning'), themed('trueWhite'));
    }
  }

  &.pill-info {
    @include themify($themes) {
      @include base-pill(themed('colorInfo'), themed('trueWhite'));
    }
  }

  &.pill-danger {
    @include themify($themes) {
      @include base-pill(themed('colorDanger'), themed('trueWhite'));
    }
  }

  // Sizes
  &.size-default {
    font-size: 0.875rem;
    padding: 0.25rem 0.75rem;
    margin: 0.5rem;
  }

  &.size-medium {
    font-size: 0.75rem;
    padding: 0.125rem 0.5rem;
    margin: 0.25rem;
  }

  &.size-small {
    font-size: 0.625rem;
    padding: 0.125rem 0.5rem;
    margin: 0.25rem;
  }
}

.theme-dark {
  .pill {
    &.pill-light {
      @include pill-hover-styles($pill-default-backgroundColor--dark, false);
    }

    &.pill-success {
      @include pill-hover-styles($color-success--dark, false);
    }

    &.pill-warning {
      @include pill-hover-styles($color-warning--dark, false);
    }

    &.pill-info {
      @include pill-hover-styles($color-info--dark, false);
    }

    &.pill-danger {
      @include pill-hover-styles($color-danger--dark, false);
    }
  }
}
