.row-container {
  @include display-flex();
  @include align-items(center);
  @include justify-content(space-between);

  .row-left-section,
  .row-right-section {
    @include display-flex();
    @include align-items(center);
  }

  .row-left-section {
    @include flex(1 1 auto);
  }

  .row-icon {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
    margin-right: 0.75rem;
  }

  .row-info {
    @include display-flex();
    @include flex-direction(column);
  }

  .row-title {
    @extend .title;
    margin-bottom: 0.125rem;
  }

  .row-subtitle {
    @include themify($themes) {
      color: themed('textSubtitleColor');
    }
  }
}
