$animation-duration: 2s;

@keyframes shine-lines {
  0% {
    left: -10rem;
  }
  30%, 100% {
    left: calc(100% + 10rem);
  }
}


.skeleton-parent-wrapper {
  position: relative;

  .skeleton-child-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 2rem);
  }
}

.skeleton-container {
  @include display-flex();
  @include align-items(center);
  overflow: hidden;
  width: 100%;
}

.skeleton-loader {
  margin-bottom: 0.5rem;

  @include themify($themes) {
    position: relative;
    overflow: hidden;
    background-color: lighten(themed('rootBorderColor'), 40%);
    height: 2rem;
    width: 100%;
    border-radius: $root-borderRadius;

    &:before {
      display: block;
      content: '';
      background-image: linear-gradient(90deg, rgba(themed('skeletonBackgroundColor'), 0.02) 0, themed('skeletonShineColor') 5rem, rgba(themed('skeletonBackgroundColor'), 0.02) 10rem);
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 10rem;
      filter: blur(0.25rem);
      animation: shine-lines $animation-duration infinite ease-out;
    }
  }

  &.skeleton-loader-avatar {
    max-width: 2rem;
    border-radius: 50%;
    margin-right: 0.75rem;

    &.s6 {
      max-width: 6rem;
      height: 6rem;
    }
  }

  &.skeleton-loader-line {
    height: 0.75rem;
    border-radius: 1rem;
  }

  &.skeleton-loader-title {
    height: 1rem;
    border-radius: 1rem;
    max-width: 10rem;
    width: 64%;
  }
}

