.mat-snack-bar-container {
  box-shadow: $shadow-large;

  @include themify($themes) {
    background-color: lighten(themed('cardBackgroundColor'), 12%);
    color: themed('textBodyColor');
  }

  .notification-row-container {
    margin: -1rem;
  }
}
