:host {
  display: inline-flex;
}

.switch {
  @include themify($themes) {
    .switch-input-label {
      background-color: themed('rootBorderColor') !important;

      &:before {
        //background-color: themed('trueWhite') !important;
      }
    }

    .switch-input {
      &:checked {
        + .switch-input-label {
          background-color: themed('colorSuccess') !important;
        }
      }

      &:disabled {
        + .switch-input-label {
          &:before {
            //background-color: themed('textColorSubtitle') !important;
          }
        }
      }
    }
  }
}
