@mixin base-line-tab-tem($color) {
  @include display-inline-flex();
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  font-family: $font-heading;
  font-weight: 500;
  position: relative;
  @include transition(background .3s ease);

  .svg-icon-container {
    margin-right: 0.75rem;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    background-color: $color;
    @include transition();
  }

  &:hover {
    background-color: rgba($color, 0.04);
    color: $color;
  }

  &.active {
    color: $color;
    background-color: rgba($color, 0.08);
  }
}

@mixin base-solid-tab-item($background-color, $color) {
  @include display-inline-flex();
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  font-family: $font-heading;
  font-weight: 500;
  position: relative;
  border-radius: 0.5rem;
  @include transition(all .3s ease);

  .svg-icon-container {
    margin-right: 0.75rem;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    background-color: $background-color;
    @include transition(background-color 0.3s ease);
  }

  &:hover {
    color: $background-color;
  }

  &.active {
    color: $color;
    background-color: $background-color;
    @include custom-box-shadow($shadow-medium);
  }

  &.tab-sm {
    padding: 0.25rem 0.75rem;
    font-family: $font-heading;
    font-size: 0.875rem;

    .svg-icon-container {
      margin-right: 0.5rem;
    }
  }
}

.tab-container {
  @include display-flex();
  @include flex-wrap(wrap);

  @include themify($themes) {
    &.tab-line {
      &.tab-horizontal {
        border-bottom: 1px solid themed('rootBorderColor');
        @include flex-wrap(wrap);

        .tab-item {
          @include base-line-tab-tem(themed('colorPrimary'));
          @include flex(1 1 auto);
          @include justify-content(center);

          .svg-icon {
            margin-right: 0.75rem;
          }

          &:after {
            left: 50%;
            bottom: 0;
            height: 0.125rem;
            width: 0;
          }

          &.active {
            &:after {
              left: 0;
              width: 100%;
            }
          }
        }

        &.tab-accent {
          .tab-item {
            @include base-line-tab-tem(themed('colorAccent'));
          }
        }
      }

      &.tab-vertical {
        @include flex-direction(column);

        .tab-item {
          @include base-line-tab-tem(themed('colorPrimary'));

          .svg-icon {
            margin-right: 1rem;
          }

          &:after {
            right: 0;
            top: 50%;
            height: 0;
            width: 0.25rem;
          }

          &.active {
            &:after {
              top: 0;
              height: 100%;
            }
          }
        }

        &.tab-accent {
          .tab-item {
            @include base-line-tab-tem(themed('colorAccent'));
          }
        }
      }
    }

    &.tab-solid {
      padding: 0.25rem;
      border-radius: 0.75rem;
      background-color: themed('rootBackgroundColor');

      .tab-item {
        @include base-solid-tab-item(themed('colorPrimary'), themed('trueWhite'));
        @include flex(1 1 auto);
        @include justify-content(center);

        .svg-icon {
          margin-right: 0.75rem;
        }
      }

      &.tab-accent {
        .tab-item {
          @include base-solid-tab-item(themed('colorAccent'), themed('trueWhite'));
        }
      }
    }
  }
}
