<header class="toolbar">
  <div class="toolbar-container">
    <section class="toolbar-left">
      <div class="toolbar-logo_container"></div>
    </section>
    <section class="toolbar-right">
      <div class="toolbar-item">
        <button class="icon-btn icon-btn-circular btn-link-light theme-toggle-btn e-disable" (click)="onThemeToggle()">
          <i class="far {{!lightTheme ? 'fa-sun' : 'fa-moon'}}"></i>
        </button>
      </div>
      <div class="toolbar-item">
        <div class="notification-item">
          <button class="icon-btn icon-btn-circular btn-link-light" (click)="openNotificationDrawer($event)">
            <i class="far fa-bell"></i>
          </button>
        </div>
      </div>
      <div class="toolbar-item">
        <nico-action-fly-menu [options]="{showCustomContent: true}" [addOns]="getAddOnMenuItems()" (action)="onFlyMenuAction($event)">
          <div class="profile-item">
            <app-avatar class="app-avatar" [imageLink]=""></app-avatar>
            <span class="title-regular">Username</span>
          </div>
        </nico-action-fly-menu>
      </div>
    </section>
  </div>
</header>
