<app-header></app-header>
<section class="web-components py-2">
  <section class="web-components-wrapper">
    <div class="web-components-aside">
      <div class="display-flex" style="justify-content: space-between">
        <button class="icon-btn icon-btn-circular btn-primary mb-2">
          <span class="svg-icon-container">
            <i class="far fa-arrow-left"></i>
          </span>
        </button>
      </div>
      <h4 class="text-bold">
        Earth Scout - Web Components
      </h4>
      <div class="tab-container tab-line tab-vertical tab-primary">
        <ng-container *ngFor="let item of componentsList">
          <a class="tab-item" [routerLink]="'.'" [fragment]="item.fragment"
             [class.active]="selectedElementId === item.fragment">
            <span>{{item.name}}</span>
          </a>
        </ng-container>
      </div>
    </div>
    <div class="web-components-main">
      <!-- Typography -->
      <div class="card" id="typography">
        <div class="card-header with-border">
          <h4 class="title">Typography</h4>
        </div>
        <div class="card-body">
          <h1>H1 - This is Heading!</h1>
          <h2>H2 - This is Heading!</h2>
          <h3>H3 - This is Heading!</h3>
          <h4>H4 - This is Heading!</h4>
          <h5>H5 - This is Heading!</h5>
          <h6>H6 - This is Heading!</h6>

          <div class="my-2">
            <p>At EarthScout, we are growers helping growers develop smart, industrial grade tools for gathering
              useful,
              grower-owned data. We help growers optimize growth, reduce inputs, conserve resources, and build living
              soils
              for a stronger, healthier future.</p>
          </div>
          <div class="my-2">
            <div class="title">Grow Smarter</div>
            <span class="sub-title text-accent">Gather Data. Gain Insights. Take Action.</span><br>
            <span class="sub-title text-primary">Gather Data. Gain Insights. Take Action.</span><br>
            <span class="sub-title text-success">Gather Data. Gain Insights. Take Action.</span><br>
            <span class="sub-title text-warning">Gather Data. Gain Insights. Take Action.</span><br>
            <span class="sub-title text-danger">Gather Data. Gain Insights. Take Action.</span><br>
            <span class="sub-title text-info">Gather Data. Gain Insights. Take Action.</span><br>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="card" id="buttons">
        <div class="card-header with-border">
          <h4 class="title">Buttons</h4>
        </div>
        <div class="card-body">
          <div>
            <button class="btn btn-primary">
              Primary
            </button>
            <button class="btn btn-outline-primary">
              Primary Outline
            </button>
            <button class="btn btn-link-primary">
              Primary Link
            </button>
          </div>
          <div>
            <button class="btn btn-accent">
              Accent
            </button>
            <button class="btn btn-outline-accent">
              Accent Outline
            </button>
            <button class="btn btn-link-accent">
              Accent Link
            </button>
          </div>
          <div>
            <button class="btn btn-info">
              Info
            </button>
            <button class="btn btn-outline-info">
              Info Outline
            </button>
            <button class="btn btn-link-info">
              Info Link
            </button>
          </div>
          <div class="display-flex">
            <button class="btn btn-success">
              <span class="svg-icon-container prefix">
                <i class="far fa-check-circle"></i>
              </span>
              Success
            </button>
            <button class="btn btn-warning">
              Warning
              <span class="svg-icon-container suffix">
                <i class="far fa-exclamation-circle"></i>
              </span>
            </button>
            <button class="btn btn-danger">
              <span class="svg-icon-container prefix">
                <i class="far fa-times-circle"></i>
              </span>
              Danger
            </button>
          </div>
          <div>
            <button class="btn btn-light">
              Light
            </button>
            <button class="btn btn-outline-light">
              Light Outline
            </button>
            <button class="btn btn-link-light">
              Light Link
            </button>
          </div>
          <div>
            <button class="btn btn-primary" disabled>
              Disabled
            </button>
            <button class="btn btn-outline-primary" disabled>
              Disabled Outline
            </button>
            <button class="btn btn-link-primary" disabled>
              Disabled Link
            </button>
          </div>
          <div>
            <button class="icon-btn icon-btn-circular btn-primary">
              <span class="svg-icon-container">
                <i class="far fa-home"></i>
              </span>
            </button>
            <button class="icon-btn btn-outline-primary">
              <span class="svg-icon-container">
                <i class="far fa-home"></i>
              </span>
            </button>
            <button class="icon-btn icon-btn-circular btn-link-primary">
              <span class="svg-icon-container">
                <i class="far fa-home"></i>
              </span>
            </button>
          </div>
          <div>
            <button class="icon-btn icon-btn-circular btn-accent">
              <span class="svg-icon-container">
                <i class="far fa-home"></i>
              </span>
            </button>
            <button class="icon-btn btn-outline-accent">
              <span class="svg-icon-container">
                <i class="far fa-home"></i>
              </span>
            </button>
            <button class="icon-btn icon-btn-circular btn-link-accent">
              <span class="svg-icon-container">
                <i class="far fa-home"></i>
              </span>
            </button>
          </div>
          <div>
            <button class="icon-btn icon-btn-circular btn-light">
              <span class="svg-icon-container">
                <i class="far fa-home"></i>
              </span>
            </button>
            <button class="icon-btn btn-outline-light">
              <span class="svg-icon-container">
                <i class="far fa-home"></i>
              </span>
            </button>
            <button class="icon-btn icon-btn-circular btn-link-light">
              <span class="svg-icon-container">
                <i class="far fa-home"></i>
              </span>
            </button>
          </div>
        </div>
      </div>

      <!-- Grid -->
      <div class="card web-components-grid-card" id="grid" style="grid-column: 1 / -1">
        <div class="card-header with-border">
          <h4 class="title">Grid</h4>
        </div>
        <div class="card-body">
          <div class="card elevation-flat mb-2">
            <div class="card-header">
              Grid Large (1200px) (col-lg-*)
            </div>
            <div class="card-body">
              <div class="grid-row">
                <div class="col-lg-1">col-lg-1</div>
                <div class="col-lg-2">col-lg-2</div>
                <div class="col-lg-3">col-lg-3</div>
                <div class="col-lg-6">col-lg-6</div>
              </div>
              <div class="grid-row">
                <div class="col-lg-4">col-lg-4</div>
                <div class="col-lg-8">col-lg-8</div>
              </div>
              <div class="grid-row">
                <div class="col-lg-5">col-lg-5</div>
                <div class="col-lg-7">col-lg-7</div>
              </div>
              <div class="grid-row">
                <div class="col-lg-9">col-lg-9</div>
                <div class="col-lg-3">col-lg-3</div>
              </div>
              <div class="grid-row">
                <div class="col-lg-10">col-lg-10</div>
                <div class="col-lg-2">col-lg-2</div>
              </div>
              <div class="grid-row">
                <div class="col-lg-11">col-lg-11</div>
                <div class="col-lg-1">col-lg-1</div>
              </div>
              <div class="grid-row">
                <div class="col-lg-12">col-lg-12</div>
              </div>
            </div>
          </div>
          <div class="card elevation-flat mb-2">
            <div class="card-header">
              Grid Medium (992px) (col-md-*)
            </div>
            <div class="card-body">
              <div class="grid-row">
                <div class="col-md-1">col-md-1</div>
                <div class="col-md-2">col-md-2</div>
                <div class="col-md-3">col-md-3</div>
                <div class="col-md-6">col-md-6</div>
              </div>
              <div class="grid-row">
                <div class="col-md-4">col-md-4</div>
                <div class="col-md-8">col-md-8</div>
              </div>
              <div class="grid-row">
                <div class="col-md-5">col-md-5</div>
                <div class="col-md-7">col-md-7</div>
              </div>
              <div class="grid-row">
                <div class="col-md-9">col-md-9</div>
                <div class="col-md-3">col-md-3</div>
              </div>
              <div class="grid-row">
                <div class="col-md-10">col-md-10</div>
                <div class="col-md-2">col-md-2</div>
              </div>
              <div class="grid-row">
                <div class="col-md-11">col-md-11</div>
                <div class="col-md-1">col-md-1</div>
              </div>
              <div class="grid-row">
                <div class="col-md-12">col-md-12</div>
              </div>
            </div>
          </div>
          <div class="card elevation-flat mb-2">
            <div class="card-header">
              Grid Small (768px) (col-sm-*)
            </div>
            <div class="card-body">
              <div class="grid-row">
                <div class="col-sm-1">col-sm-1</div>
                <div class="col-sm-2">col-sm-2</div>
                <div class="col-sm-3">col-sm-3</div>
                <div class="col-sm-6">col-sm-6</div>
              </div>
              <div class="grid-row">
                <div class="col-sm-4">col-sm-4</div>
                <div class="col-sm-8">col-sm-8</div>
              </div>
              <div class="grid-row">
                <div class="col-sm-5">col-sm-5</div>
                <div class="col-sm-7">col-sm-7</div>
              </div>
              <div class="grid-row">
                <div class="col-sm-9">col-sm-9</div>
                <div class="col-sm-3">col-sm-3</div>
              </div>
              <div class="grid-row">
                <div class="col-sm-10">col-sm-10</div>
                <div class="col-sm-2">col-sm-2</div>
              </div>
              <div class="grid-row">
                <div class="col-sm-11">col-sm-11</div>
                <div class="col-sm-1">col-sm-1</div>
              </div>
              <div class="grid-row">
                <div class="col-sm-12">col-sm-12</div>
              </div>
            </div>
          </div>
          <div class="card elevation-flat mb-2">
            <div class="card-header">
              Grid XS (575px) (col-xs-*)
            </div>
            <div class="card-body">
              <div class="grid-row">
                <div class="col-xs-1">col-xs-1</div>
                <div class="col-xs-2">col-xs-2</div>
                <div class="col-xs-3">col-xs-3</div>
                <div class="col-xs-6">col-xs-6</div>
              </div>
              <div class="grid-row">
                <div class="col-xs-4">col-xs-4</div>
                <div class="col-xs-8">col-xs-8</div>
              </div>
              <div class="grid-row">
                <div class="col-xs-5">col-xs-5</div>
                <div class="col-xs-7">col-xs-7</div>
              </div>
              <div class="grid-row">
                <div class="col-xs-9">col-xs-9</div>
                <div class="col-xs-3">col-xs-3</div>
              </div>
              <div class="grid-row">
                <div class="col-xs-10">col-xs-10</div>
                <div class="col-xs-2">col-xs-2</div>
              </div>
              <div class="grid-row">
                <div class="col-xs-11">col-xs-11</div>
                <div class="col-xs-1">col-xs-1</div>
              </div>
              <div class="grid-row">
                <div class="col-xs-12">col-xs-12</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Input Fields -->
      <div class="card" id="input">
        <div class="card-header with-border">
          <h4 class="title">Input</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="errorInput" class="form-label">Error Input</label>
            <input type="email" id="errorInput" class="form-control error" value="admin_test.org"/>
            <span class="info-block error">Please enter valid email address</span>
          </div>

          <div class="form-group">
            <label for="successInput" class="form-label">Success Input</label>
            <input type="email" id="successInput" class="form-control success" value="admin_test@mail.org"/>
            <span class="info-block success">Email address verified</span>
          </div>

          <div class="form-group">
            <label for="warningInput" class="form-label">Warning Input</label>
            <input type="email" id="warningInput" class="form-control warning" value="admin_test@mail.org"/>
            <span class="info-block warning">Email address warning</span>
          </div>

          <div class="form-group">
            <label for="hintMail" class="form-label">Hint Input</label>
            <input type="email" id="hintMail" class="form-control" value="admin_test@mail.org"/>
            <span class="info-block hint">You are required to add your new email address.</span>
          </div>
        </div>
      </div>

      <!-- Form -->
      <div class="card" id="form">
        <div class="card-header with-border">
          <h4 class="title">Form</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Username"/>
          </div>

          <div class="form-group">
            <label for="mail" class="form-label">Disabled Input</label>
            <input type="email" id="mail" class="form-control" value="admin_test@mail.org" disabled/>
          </div>

          <div class="form-group">
            <label for="userType" class="form-label">User Type</label>
            <select name="user" id="userType" class="form-control select-form-control">
              <option value="superAdmin">Super Admin</option>
              <option value="admin">Admin</option>
              <option value="user">User</option>
              <option value="guest">Guest</option>
            </select>
          </div>

          <div class="form-group">
            <label for="userType2" class="form-label">Disabled Select</label>
            <select name="user" id="userType2" class="form-control select-form-control" disabled>
              <option value="1" selected>Guest</option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-label">Radio Group</label>
            <label class="radio-form-control"><input class="radio-input" type="radio" name="radioGroup"/>
              <span class="radio-label">Option 1</span></label>
            <label class="radio-form-control"><input class="radio-input" type="radio" name="radioGroup"/>
              <span class="radio-label">Option 2</span></label>
            <label class="radio-form-control"><input class="radio-input" type="radio" name="radioGroup" disabled/>
              <span class="radio-label" disabled>Option 3</span></label>
            <label class="radio-form-control"><input class="radio-input" type="radio" name="radioGroup"
                                                     [checked]="true"
                                                     disabled/>
              <span class="radio-label" disabled>Option 4</span></label>
          </div>

          <div class="form-group">
            <label class="form-label">Checkbox Group</label>
            <label class="checkbox-form-control">
              <input class="checkbox-input" type="checkbox" name="checkboxGroup"/>
              <span class="checkbox-label">Option 1</span></label>
            <label class="checkbox-form-control">
              <input class="checkbox-input" type="checkbox" name="checkboxGroup"/>
              <span class="checkbox-label">Option 2</span></label>
            <label class="checkbox-form-control">
              <input class="checkbox-input" type="checkbox" name="checkboxGroup"
                     [indeterminate]="true"/>
              <span class="checkbox-label">Option 3</span></label>
            <label class="checkbox-form-control">
              <input class="checkbox-input" type="checkbox" name="checkboxGroup"
                     [checked]="true"/>
              <span class="checkbox-label">Option 4</span></label>
            <label class="checkbox-form-control">
              <input class="checkbox-input" type="checkbox" name="checkboxGroup"/>
              <span class="checkbox-label">Option 5</span></label>
            <label class="checkbox-form-control">
              <input class="checkbox-input" type="checkbox" name="checkboxGroup"
                     disabled/>
              <span class="checkbox-label" disabled>Option 6</span></label>
            <label class="checkbox-form-control">
              <input class="checkbox-input" type="checkbox" name="checkboxGroup"
                     [indeterminate]="true" disabled/>
              <span class="checkbox-label" disabled>Option 7</span></label>
            <label class="checkbox-form-control">
              <input class="checkbox-input" type="checkbox" name="checkboxGroup"
                     [checked]="true" disabled/>
              <span class="checkbox-label" disabled>Option 8</span></label>
          </div>
          <div class="display-flex flex-justify-end">
            <button class="btn btn-link-danger">Error</button>
            <button class="btn btn-light">Cancel</button>
            <button class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>

      <!-- Action Fly Menu - Dropdown -->
      <div class="card" id="dropdown">
        <div class="card-header with-border">
          <h4 class="title">Action Fly Menu</h4>
        </div>
        <div class="card-body">
          <nico-action-fly-menu [options]="{showIconOnly: true}"
                                [className]="''" [addOns]="flyMenuAddOns">
          </nico-action-fly-menu>
        </div>
      </div>

      <!-- Advance Select - Dropdown -->
      <div class="card" id="advSelect">
        <div class="card-header with-border">
          <h4 class="title">Advance Select</h4>
        </div>
        <div class="card-body">
          <ng-template #dropDownItemTemplate let-item="item">
            <div class="svg-icon-container prefix"><i class="far fa-home"></i></div>
            <span>{{ item.name }}</span>
          </ng-template>
          <nico-advanced-select [options]="options" [config]="config" [multiple]="true"
                                (pick)="log($event)"></nico-advanced-select>
        </div>
      </div>

      <!-- Switch -->
      <div class="card" id="switch">
        <div class="card-header with-border">
          <h4 class="title">Switch</h4>
        </div>
        <div class="card-body">
          <div class="card elevation-flat mb-2">
            <div class="my-1">
              <app-switch [switchConfig]="{label: 'Switch Label'}"></app-switch>
              <div class="mt-1">Default Switch</div>
            </div>
            <div class="my-1">
              <app-switch [isActive]="false"></app-switch>
              <div class="mt-1">Active Switch</div>
            </div>
            <div class="my-1">
              <app-switch [isDisabled]="true"></app-switch>
              <div class="mt-1">Disabled Inactive</div>
            </div>
            <div class="my-1">
              <app-switch [isDisabled]="true" [isActive]="true"></app-switch>
              <div class="mt-1">Disabled Active</div>
            </div>
          </div>

          <div class="card elevation-flat">
            <app-switch (switchValueChange)="onSwitchValueChange($event)"></app-switch>
            <div class="mt-1" *ngIf="switchState">Switch ON</div>
            <div class="mt-1" *ngIf="!switchState">Switch OFF</div>
          </div>
        </div>
      </div>

      <!-- Tab -->
      <div class="card" id="tab">
        <div class="card-header with-border">
          <h4 class="title">Tab</h4>
        </div>
        <div class="card-body">
          <div class="card elevation-flat mb-2">
            <div class="card-header with-border">
              <div class="title">Vertical Line Tab</div>
            </div>
            <div class="card-body">
              <div class="tab-container tab-line tab-vertical">
                <div class="tab-item active">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 1</span>
                </div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 2</span></div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 3</span>
                </div>
              </div>
              <div class="tab-container tab-line tab-vertical tab-accent mt-2">
                <div class="tab-item active">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 1</span>
                </div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 2</span></div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 3</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card elevation-flat mb-2">
            <div class="card-header with-border">
              <div class="title">Horizontal Line Tab</div>
            </div>
            <div class="card-body">
              <div class="tab-container tab-line tab-horizontal">
                <div class="tab-item active">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 1</span>
                </div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 2</span></div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 3</span>
                </div>
              </div>
              <div class="tab-container tab-line tab-horizontal tab-accent mt-2">
                <div class="tab-item active">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 1</span>
                </div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 2</span></div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 3</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card elevation-flat mb-2">
            <div class="card-header with-border">
              <div class="title">Solid Tab</div>
            </div>
            <div class="card-body">
              <div class="tab-container tab-solid">
                <div class="tab-item active">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 1</span>
                </div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 2</span></div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 3</span>
                </div>
              </div>
              <div class="tab-container tab-solid tab-accent mt-2">
                <div class="tab-item active">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 1</span>
                </div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 2</span></div>
                <div class="tab-item">
                  <div class="svg-icon-container"><i class="far fa-home"></i></div>
                  <span>Tab Label 3</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Badge and Pills -->
      <div class="card" id="badge">
        <div class="card-header with-border">
          <h4 class="title">Badge and Pills</h4>
        </div>
        <div class="card-body">
          <div class="card elevation-flat mb-2">
            <div class="card-header with-border">
              <div class="title">Badge</div>
            </div>
            <div class="card-body">
              <button class="btn btn-primary">Button!
                <app-badge label="10" color="accent"
                           style="position: absolute; top: -0.5rem; right: -0.5rem">10
                </app-badge>
              </button>

              <button class="btn btn-accent">Button!
                <app-badge label="99" color="warning"
                           style="position: absolute; top: -0.5rem; right: -0.5rem">
                  99+
                </app-badge>
              </button>

              <div>
                <button class="icon-btn icon-btn-circular btn-link-light"
                        style="position:relative; height: 2.5rem; width: 2.5rem">
                  <i class="far fa-user"></i>
                  <app-badge label="10" color="info"
                             style="position: absolute; top: -0.75rem; right: -0.75rem">15
                  </app-badge>
                </button>
                <button class="icon-btn icon-btn-circular btn-link-light"
                        style="position:relative; height: 2.5rem; width: 2.5rem">
                  <i class="far fa-bell"></i>
                  <app-badge label="10" color="danger"
                             style="position: absolute; top: -0.75rem; right: -0.75rem">8
                  </app-badge>
                </button>
              </div>
            </div>
          </div>

          <div class="card elevation-flat">
            <div class="card-header with-border">
              <div class="title">Pill</div>
            </div>
            <div class="card-body">
              <div>
                <app-pill [label]="'Apple'"></app-pill>
                <app-pill [label]="'Orange'"></app-pill>
                <app-pill [label]="'Mango'"></app-pill>
                <app-pill [label]="'Strawberry'"></app-pill>
              </div>

              <div>
                <app-pill [label]="'Apple'" [removable]="true"></app-pill>
                <app-pill [label]="'Orange'" [removable]="true"></app-pill>
                <app-pill [label]="'Mango'" [removable]="true"></app-pill>
                <app-pill [label]="'Strawberry'" [removable]="true"></app-pill>
              </div>

              <div>
                <app-pill label="Apple" color="danger"></app-pill>
                <app-pill label="Orange" color="success"></app-pill>
                <app-pill label="Mango" color="warning"></app-pill>
                <app-pill label="Strawberry" color="info"></app-pill>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Circular Icon Container -->
      <div class="card" id="circleIcons">
        <div class="card-header with-border">
          <h4 class="title">Circular Icon Component</h4>
        </div>
        <div class="card-body">
          <div>
            <div>
              <app-circular-icon [config]="{iconName: 'far fa-home', size: 's24'}" class="m-1"></app-circular-icon>
              <app-circular-icon [config]="{iconName: 'far fa-home', size: 's32'}" class="m-1"></app-circular-icon>
              <app-circular-icon [config]="{iconName: 'far fa-home', size: 's40'}" class="m-1"></app-circular-icon>
            </div>

            <div>
              <app-circular-icon [config]="{iconName: 'far fa-home', color: 'info'}"
                                 class="m-1"></app-circular-icon>
              <app-circular-icon [config]="{iconName: 'far fa-home', color: 'danger'}"
                                 class="m-1"></app-circular-icon>
              <app-circular-icon [config]="{iconName: 'far fa-home', color: 'success'}"
                                 class="m-1"></app-circular-icon>
              <app-circular-icon [config]="{iconName: 'far fa-home', color: 'light'}"
                                 class="m-1"></app-circular-icon>
            </div>

            <div>
              <app-circular-icon [config]="{iconName: 'far fa-home', color: 'info', withIndicator: true}"
                                 class="m-1"></app-circular-icon>
              <app-circular-icon [config]="{iconName: 'far fa-home', color: 'danger', withIndicator: true}"
                                 class="m-1"></app-circular-icon>
              <app-circular-icon [config]="{iconName: 'far fa-home', color: 'success', withIndicator: true}"
                                 class="m-1"></app-circular-icon>
              <app-circular-icon [config]="{iconName: 'far fa-home', color: 'warning', withIndicator: true}"
                                 class="m-1"></app-circular-icon>
            </div>
          </div>
        </div>
      </div>

      <!-- Avatar -->
      <div class="card" id="avatar">
        <div class="card-header with-border">
          <h4 class="title">Avatar</h4>
        </div>
        <div class="card-body">
          <div class="mb-1">
            <app-avatar [avatarClassName]="'m-1'"></app-avatar>
            <app-avatar [avatarClassName]="'avatar-s4 m-1'"></app-avatar>
            <app-avatar [avatarClassName]="'avatar-s6 m-1'"></app-avatar>
            <app-avatar [avatarClassName]="'avatar-s8 m-1'"></app-avatar>
          </div>
          <div class="mb-1">
            <app-avatar [avatarClassName]="'m-1'" [avatarStyles]="{borderRadius: '0.25rem'}"></app-avatar>
            <app-avatar [avatarClassName]="'avatar-s4 m-1'" [avatarStyles]="{borderRadius: '0.5rem'}"></app-avatar>
            <app-avatar [avatarClassName]="'avatar-s6 m-1'" [avatarStyles]="{borderRadius: '0.75rem'}"></app-avatar>
            <app-avatar [avatarClassName]="'avatar-s8 m-1'" [avatarStyles]="{borderRadius: '1rem'}"></app-avatar>
          </div>
        </div>
      </div>

      <!-- Notification Row -->
      <div class="card" id="notification">
        <div class="card-header with-border">
          <h4 class="title">Notification Row</h4>
        </div>
        <div class="card-body">
          <app-notification-row type="success"></app-notification-row>
          <app-notification-row type="danger"></app-notification-row>
          <app-notification-row type="warning"></app-notification-row>
          <app-notification-row type="info"></app-notification-row>
          <app-notification-row type="light"></app-notification-row>
        </div>
      </div>

      <!-- Empty State -->
      <div class="card" id="emptyState">
        <div class="card-header with-border">
          <h4 class="title">Empty States</h4>
        </div>
        <div class="card-body">
          <app-empty-state></app-empty-state>
          <app-empty-state type="box" [message]="'Sorry, There Is No Data'"></app-empty-state>
          <app-empty-state type="notification" [message]="'No Notifications'"></app-empty-state>
          <app-empty-state type="search" [message]="'Sorry, We were not able to find any data based on your search'"
                           [title]="'No Search Results'"></app-empty-state>
        </div>
      </div>

      <!-- Modal, Snackbar, Drawer -->
      <div class="card" id="modal">
        <div class="card-header with-border">
          <h4 class="title">Modal and Snackbar</h4>
        </div>
        <div class="card-body display-flex flex-direction-column">
          <button class="btn btn-outline-primary m-1" (click)="openNotificationDialog()">Open Notification Modal Dialog
            Box
          </button>
          <button class="btn btn-primary m-1" (click)="openEmptyComponentDialog()">Open Empty Component Modal</button>
          <button class="btn btn-accent m-1" (click)="openSnackBar()">Open Snackbar</button>
          <button class="btn btn-link-info m-1" (click)="openDrawer($event)">Open Drawer</button>
        </div>
      </div>

      <!-- Skeleton -->
      <div class="card" id="skeleton">
        <div class="skeleton-container flex-direction-column flex-align-center">
          <div class="skeleton-loader skeleton-loader-avatar s6 mx-0 mb-2"></div>
          <div class="display-flex flex-direction-column px-2 text-center w-100 flex-align-center">
            <div class="skeleton-loader skeleton-loader-title mb-1"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
            <div class="skeleton-loader skeleton-loader-line" style="width: 80%"></div>
            <div class="skeleton-loader skeleton-loader-line" style="width: 60%"></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="skeleton-container mb-2">
          <div class="skeleton-loader skeleton-loader-avatar"></div>
          <div class="display-flex flex-direction-column flex-1">
            <div class="skeleton-loader skeleton-loader-title"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
          </div>
        </div>
        <div class="skeleton-container mb-2">
          <div class="skeleton-loader skeleton-loader-avatar"></div>
          <div class="display-flex flex-direction-column flex-1">
            <div class="skeleton-loader skeleton-loader-title"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
          </div>
        </div>
        <div class="skeleton-container">
          <div class="skeleton-loader skeleton-loader-avatar"></div>
          <div class="display-flex flex-direction-column flex-1">
            <div class="skeleton-loader skeleton-loader-title"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
            <div class="skeleton-loader skeleton-loader-line"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<app-drawer-container
  drawerContainerClass="notification-drawer" position="end" [isOpen]="isDrawerOpen"
  (closeDrawerEvent)="onDrawerOpenCloseEvent($event)">
  <app-notification-drawer (drawerOpenEvent)="onDrawerOpenCloseEvent($event)"></app-notification-drawer>
</app-drawer-container>
