<nav class="side-nav" [class.opened]="isOpen">
  <div class="side-nav-toggle">
    <img class="logo-img" src="logoUrl" alt="earthscout logo">
    <button class="icon-btn icon-btn-circular toggle-menu-btn" (click)='toggleSideNav($event)'>
      <div class="svg-icon-container">
        <i class="far {{isOpen ? 'fa-times' : 'far-bars'}}"></i>
      </div>
    </button>
  </div>
  <ul class="side-nav-container">
    <ng-container *ngFor="let navItem of sideNavLinks">
      <li>
        <a class="side-nav-link" [routerLink]="navItem.link" routerLinkActive="active">
          <div class="side-nav-item">
            <div class="svg-icon-container">
              <i [class]="navItem.icon"></i>
            </div>
            <span class="label">{{navItem.label}}</span>
          </div>
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
