<div class="login-page">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.svg">
    </div>
    <div class="grid-row">
      <div class="col-lg-6 info">
        <h2>Welcome to HR Portal.</h2>
        <h4>Sign in to lorem ipsum dolor si amet</h4>
        <img src="assets/images/undraw_login.svg"/>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="provider-login">
            <h4>Log in to the site</h4>
            <div class="providers">
              <a href="{{providerLink}}google">
                <div class="provider">
                  <img src="assets/images/search.png">Google
                </div>
              </a>
              <a href="{{providerLink}}microsoft">
                <div class="provider">
                  <img src="assets/images/microsoft.png">Microsoft
                </div>
              </a>

            </div>
          </div>
          <div class="credential-login">
            <h5>OR</h5>
            <h4>Login With Credentials</h4>
            <form [formGroup]="formGroup">
              <div class="form-group">
                <label for="username" class="form-label">USERNAME</label>
                <input type="text" id="username" class="form-control" placeholder="Enter Username Here"
                       formControlName="username"/>
              </div>
              <div class="form-group">
                <label for="password" class="form-label">PASSWORD</label>
                <input type="password" id="password" class="form-control" placeholder="Enter Password Here"
                       formControlName="password"/>
              </div>
              <p class="forgot-pass" (click)="forgotPassAction()">Forgot Password</p>
              <button class="btn btn-primary" (click)="logIn()">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
