* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  @include sm() {
    font-size: 14px;
  }
}

body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: $font-body;
  background-color: $root-backgroundColor--light;

  @include themify($themes) {
    color: themed('textBodyColor');
    background-color: themed('rootBackgroundColor');
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }
}

svg {
  display: inline-block;
  height: auto;
  width: auto;
  fill: currentColor;
}


hr {
  display: block;
  width: 100%;
  margin: 1rem 0;
  border: none;
  @include themify($themes) {
    border-top: 1px solid themed('rootBorderColor');
  }
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  @include themify($themes) {
    box-shadow: inset 0 0 0.5rem rgba(themed('textBodyColor'), 0.24);
  }
}

::-webkit-scrollbar-thumb {
  @include themify($themes) {
    background-color: themed('textSubtitleColor');
    border-radius: 1rem;
    border: 0.125rem solid themed('rootBackgroundColor');
  }
}
