@mixin app-container() {
  display: block;
  width: 100%;
  max-width: calc(1200px + 2rem);
  padding: 0 1rem;
  margin: 0 auto;
}

.container {
  @include app-container();
}

.wrapper {
  display: block;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 -1rem;
  grid-row-gap: 1rem;
}

@mixin column-width($width, $breakpoint: default) {
  padding: 0 1rem;
  grid-column: span $width;

  @if ($breakpoint == lg) {
    @media (max-width: $breakpoint-lg) {
      grid-column: span 12;
    }
  } @else if ($breakpoint == md) {
    @media (max-width: $breakpoint-md) {
      grid-column: span 12;
    }
  } @else if ($breakpoint == sm) {
    @media (max-width: $breakpoint-sm) {
      grid-column: span 12;
    }
  } @else if ($breakpoint == xs) {
    @media (max-width: $breakpoint-xs) {
      grid-column: span 12;
    }
  }
}

// Default Column

@for $i from 1 through 12 {
  .col-#{$i} {
    @include column-width($i);
  }

  .col-lg-#{$i} {
    @include column-width($i, lg);
  }

  .col-md-#{$i} {
    @include column-width($i, md);
  }

  .col-sm-#{$i} {
    @include column-width($i, sm);
  }

  .col-xs-#{$i} {
    @include column-width($i, xs);
  }
}
