// Svg Icon
.svg-icon-container {
  @include display-inline-flex();
  @include align-items(center);
  @include justify-content(center);
  font-size: 1rem;

  &.prefix {
    margin-right: 0.5rem;
  }

  &.suffix {
    margin-left: 0.5rem;
  }
}

// Display
.hidden {
  display: none !important;
}

.hidden-xs {
  @include xs() {
    display: none !important;
  }
}

.hidden-sm {
  @include sm() {
    display: none !important;
  }
}

.hidden-md {
  @include md() {
    display: none !important;
  }
}

.hidden-lg {
  @include lg() {
    display: none !important;
  }
}

// Flexbox Helper Classes

.display-flex {
  @include display-flex();
}

.display-inline-flex {
  @include display-inline-flex();
}

.flex-direction-row {
  @include flex-direction(row);
}

.flex-direction-column {
  @include flex-direction(column);
}

.flex-align-center {
  @include align-items(center);
}

.flex-justify-center {
  @include justify-content(center);
}

.flex-space-between {
  @include justify-content(space-between);
}

.flex-justify-end {
  @include justify-content(flex-end);
}

.flex-justify-start {
  @include justify-content(flex-start);
}

.flex-1 {
  @include flex(1);
}

.display-none {
  display: none !important;
}

// Margin

.m-0 {
  @include my(0);
  @include mx(0);
}

.mx-0 {
  @include mx(0);
}

.my-0 {
  @include my(0);
}

.m-1 {
  @include my(1rem);
  @include mx(1rem);
}

.m-2 {
  @include my(2rem);
  @include mx(2rem);
}

.my-1 {
  @include my(1rem);
}

.my-2 {
  @include my(2rem);
}

.mx-1 {
  @include mx(1rem);
}

.mx-2 {
  @include mx(2rem);
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}


// Padding

.p-1 {
  @include py(1rem);
  @include px(1rem);
}

.p-2 {
  @include py(2rem);
  @include px(2rem);
}

.py-0 {
  @include py(0);
}

.py-1 {
  @include py(1rem);
}

.py-2 {
  @include py(2rem);
}

.px-0 {
  @include px(0);
}

.px-1 {
  @include px(1rem);
}

.px-2 {
  @include px(2rem);
}

.pr-1 {
  padding-right: 1rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

// Width / Height
.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}


// Position
.position-relative {
  position: relative !important;
}
