h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin-bottom: 1rem;
  font-family: $font-heading;
  font-weight: 600;
  @include themify($themes) {
    color: themed('textTitleColor');
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: currentColor;

  &.link {
    @include themify($themes) {
      color: themed('colorPrimary');

      &:hover {
        color: lighten(themed('colorPrimary'), 4%);
      }
    }
  }
}

.title {
  line-height: 1.5;
  font-family: $font-heading;
  font-weight: 500;
  @include themify($themes) {
    color: themed('textTitleColor');
  }
}

.title-regular {
  font-family: $font-heading;
  font-weight: 500;
}

.sub-title {
  font-size: 0.875rem;
  @include themify($themes) {
    color: themed('textSubtitleColor');
  }
}

// Text color

.text-muted {
  @include themify($themes) {
    color: themed('textSubtitleColor');
  }
}

.text-primary {
  @include themify($themes) {
    color: themed('colorPrimary');
  }
}

.text-accent {
  @include themify($themes) {
    color: themed('colorAccent');
  }
}

.text-success {
  @include themify($themes) {
    color: themed('colorSuccess');
  }
}

.text-warning {
  @include themify($themes) {
    color: themed('colorWarning');
  }
}

.text-danger {
  @include themify($themes) {
    color: themed('colorDanger');
  }
}

.text-info {
  @include themify($themes) {
    color: themed('colorInfo');
  }
}

.text-dark {
  @include themify($themes) {
    color: themed('textTitleColor');
  }
}

// font weight

.text-regular {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

// Font alignment

.text-center {
  text-align: center;
}


// Text transforms

.text-uppercase {
  text-transform: uppercase;
}
