// Back button
.go-back {
  @include display-inline-flex();
  @include align-items(center);
  @include justify-content(center);
  padding: 1rem 0;
  cursor: pointer;
  @include themify($themes) {
    color: themed('textSubtitleColor');
  }

  .svg-icon-container {
    @include transition(transform 0.3s ease);
  }

  &:hover {
    .svg-icon-container {
      transform: translateX(-0.25rem);
    }
  }
}
