.login-page {
  h2, h3, h4, h5 {
    font-weight: 400;
  }
  .col-lg-6 {
    padding: 2rem;
  }
  .logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    img {
      width: 3rem;
    }
  }
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  min-height: 100%;
  background-image: url("../../assets/images/login_background.svg");
  background-size: cover;
  background-position: center;
  color: $color-light--light;

  .info {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);

    img {
      width: 60%;
      height: auto;
    }
  }

  .provider-login {
    h4 {
      text-align: center;
      color: $color-primary--light;
    }
    .providers {
      color: $gray-200;
      @include display-flex();
      @include align-items(center);
      @include justify-content(center);
      flex-wrap: wrap;
      padding: 1rem;
      .provider {
        margin: .5rem;
        @include display-flex();
        @include align-items(center);
        @include justify-content(center);
        padding: .5rem;
        width: 8.5rem;
        box-shadow: -0px 0px 5px 0px rgba(185,193,203,0.75);
        img {
          width: 2rem;
          margin-right: 1rem;
        }
      }
    }
  }

  .credential-login {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    h5 {
      text-align: center;
      color: $text-subtitleColor--dark;
    }
    h4 {
      text-align: center;
      color: $color-primary--light;
      padding-bottom: 2rem;
    }
    form {
      width: 80%;
    }
  }

  .card {
    background-color: $color-light--light;
    padding: 4rem 2rem;
    label {
      color: $gray-200;
    }
    p {
      color: $color-primary--light;
      padding-top: 1rem;
      padding-bottom: 2rem;
      cursor: pointer;
    }
    button {
      color: $color-light--light;
    }
  }

  input[type="text"], input[type="password"] {
    border: 1px solid $gray-100;
    background-color: $color-light--light;
    color: $text-bodyColor--light;
  }
}

@media (max-width: 768px) {
  .login-page {
    .logo {
      position: relative;
      text-align: center;
      padding: 2rem;
      top: 0rem;
      left: 0rem;
    }
    form {
      width: 90%;
    }
  }
}

@media (max-width: 425px) {
  .info {
    img {
      display: none;
    }
  }
}
