.notification-drawer {
  max-width: 25rem;

  .notification-drawer-header {
    .weather-info {
      .temperature {
        @include display-flex();
        @include align-items(center);

        .value {
          font-size: 1.75rem;
          font-weight: 300;
        }

        .svg-icon-container {
          margin-left: 0.5rem;
        }

      }
    }
  }

  .notification-drawer-sub-header {
    @include display-flex();
    @include align-items(center);
    @include justify-content(space-between);
    margin: 0 -1rem;
    padding: 0.25rem 1rem;

    @include themify($themes) {
      border-bottom: 1px solid themed('rootBorderColor');
    }

    &:last-of-type {
      border-bottom: 0;
    }

    .mark-as-read-btn {
      font-size: 0.875rem;
      font-weight: 300;
      margin-right: -1rem;

      &:hover, &:active {
        background-color: $transparent;
      }
    }
  }

  .notification-drawer-body {
    padding: 0 1rem;

    .notification-list {
      margin: 0 -1rem;
      height: calc(100vh - 6.125rem - 1px - 3rem - 1px - 3.5rem - 1px);
      min-height: 25rem;
      overflow: hidden;
      overflow-y: auto;

      .notification-row-container {
        @include themify($themes) {
          border-bottom: 1px solid themed('rootBorderColor');
        }
      }
    }
  }

  .notification-drawer-footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @include themify($themes) {
      border-top: 1px solid themed('rootBorderColor');
    }

    .btn {
      width: 100%;
    }
  }
}
