.web-components {
  display: block;

  button {
    margin: 1rem 0.5rem;
  }

  .grid-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0;

    > * {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
      background-color: $root-backgroundColor--light;
      border: 1px solid $root-borderColor--light;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .web-components-grid-card {
    .elevation-flat {
      .card-body {
        padding: 0;
        margin: 0 -1.25rem;
        border-top: 1px solid $root-borderColor--light;
        border-bottom: 1px solid $root-borderColor--light;
      }
    }
  }

  .web-components-wrapper {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-gap: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;

    .web-components-aside {
      position: sticky;
      top: 3rem;
      align-self: start;

      .tab-container {
        .tab-item {
          padding: 0.5rem !important;
        }
      }
    }

    .web-components-main {
      display: grid;
      grid-gap: 2.5rem 2rem;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }

    @include md() {
      grid-template-columns: 1fr;
      padding: 0 1rem;
      grid-gap: 1rem;

      .web-components-aside {
        position: static;

        .tab-item {
          margin-left: 0;
        }
      }

      .web-components-main {
        grid-template-columns: 1fr;
      }
    }
  }
}

.theme-dark {
  .web-components {
    .grid-row {
      > * {
        background-color: lighten($card-background-color--dark, 4%);
        border: 1px solid $root-borderColor--dark;
      }
    }

    .web-components-grid-card {
      .elevation-flat {
        .card-body {
          border-top: 1px solid $root-borderColor--dark;
          border-bottom: 1px solid $root-borderColor--dark;
        }
      }
    }
  }
}
