// theme implementation

$themes: (
  light: (
    // Colors
    colorPrimary: $color-primary--light,
    colorAccent: $color-accent--light,
    colorSuccess: $color-success--light,
    colorDanger: $color-danger--light,
    colorInfo: $color-info--light,
    colorWarning: $color-warning--light,
    colorLight: $color-light--light,

    // Root
    rootBackgroundColor: $root-backgroundColor--light,
    rootBorderColor: $root-borderColor--light,
    rootHoverBackgroundColor: $root-hover-backgroundColor--light,

    // Text
    textBodyColor: $text-bodyColor--light,
    textTitleColor: $text-titleColor--light,
    textSubtitleColor: $text-subtitleColor--light,

    // Card
    cardBackgroundColor: $card-backgroundColor--light,

    // Pill
    pillDefaultBackgroundColor: $pill-default-backgroundColor--light,

    // Popover
    popoverBackgroundColor: $popover-backgroundColor--light,

    // Chart
    chart600: $chart-600--light,
    chart500: $chart-500--light,
    chart400: $chart-400--light,
    chart300: $chart-300--light,
    chart200: $chart-200--light,
    chart100: $chart-100--light,

    // BackgroundImage
    backgroundImageLogo: $backgroundImage-logo--light,
    backgroundImageSelect: $backgroundImage-select--light,
    backgroundImageRadio: $backgroundImage-radio-checked--light,
    backgroundImageCheckboxChecked: $backgroundImage-checkbox-checked--light,
    backgroundImageCheckboxIndeterminate: $backgroundImage-checkbox-indeterminate--light,
    backgroundImageClose: $backgroundImage-search-close--light,

    // Skeleton
    skeletonBackgroundColor: $skeleton-backgroundColor--light,
    skeletonShineColor: $skeleton-shineColor--light,

    // Inverse
    trueWhite: $true-white,
  ),
  dark: (
    // Colors
    colorPrimary: $color-primary--dark,
    colorAccent: $color-accent--dark,
    colorSuccess: $color-success--dark,
    colorDanger: $color-danger--dark,
    colorInfo: $color-info--dark,
    colorWarning: $color-warning--dark,
    colorLight: $color-light--dark,

    // Root
    rootBackgroundColor: $root-backgroundColor--dark,
    rootBorderColor: $root-borderColor--dark,
    rootHoverBackgroundColor: $root-hover-backgroundColor--dark,

    // Text
    textBodyColor: $text-bodyColor--dark,
    textTitleColor: $text-titleColor--dark,
    textSubtitleColor: $text-subtitleColor--dark,

    //Card
    cardBackgroundColor: $card-background-color--dark,

    // Pill
    pillDefaultBackgroundColor: $pill-default-backgroundColor--dark,

    // Popover
    popoverBackgroundColor: $popover-backgroundColor--dark,

    // Chart
    chart600: $chart-600--dark,
    chart500: $chart-500--dark,
    chart400: $chart-400--dark,
    chart300: $chart-300--dark,
    chart200: $chart-200--dark,
    chart100: $chart-100--dark,

    // Background Image
    backgroundImageLogo: $backgroundImage-logo--dark,
    backgroundImageSelect: $backgroundImage-select--dark,
    backgroundImageRadio: $backgroundImage-radio-checked--dark,
    backgroundImageCheckboxChecked: $backgroundImage-checkbox-checked--dark,
    backgroundImageCheckboxIndeterminate: $backgroundImage-checkbox-indeterminate--dark,
    backgroundImageClose: $backgroundImage-search-close--dark,

    // Skeleton
    skeletonBackgroundColor: $skeleton-backgroundColor--dark,
    skeletonShineColor: $skeleton-shineColor--dark,

    // Inverse
    trueWhite: $gray-500,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
