// Global Mixins

// Text truncate
@mixin text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Reset List Styles
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Box Shadow
@mixin custom-box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

// Transitions
@mixin transition($value: all 0.3s ease) {
  -webkit-transition: $value;
  -o-transition: $value;
  transition: $value;
}

// Transform
@mixin transform($value) {
  -webkit-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

// User Select
@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

// Avatar
@mixin avatar($height: 2rem, $width: 2rem, $border-radius: 50%, $border-color) {
  display: inline-block;
  height: $height;
  width: $width;
  min-height: $height;
  min-width: $width;
  border-radius: $border-radius;
  overflow: hidden;
  border: 1px solid $border-color;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

// Sticky Positioning
@mixin position-sticky() {
  @supports (position: sticky) {
    position: sticky !important;
  }
}

// padding
@mixin px($value) {
  padding-left: $value !important;
  padding-right: $value !important;
}

@mixin py($value) {
  padding-top: $value !important;
  padding-bottom: $value !important;
}

// margin
@mixin mx($value) {
  margin-left: $value !important;
  margin-right: $value !important;
}

@mixin my($value) {
  margin-top: $value !important;
  margin-bottom: $value !important;
}

// user action disabled
@mixin user-action-disabled($index: $zIndex-9) {
  position: relative;
  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: $index;
  }
}
