//Shared Colors
// Grayscale Colors
$gray-500: #141517;
$gray-400: #212328;
$gray-300: #3D454E;
$gray-200: #677079;
$gray-100: #B9C1CB;

//Others
$true-white: #FFFFFF;
$transparent: rgba(0, 0, 0, 0);
$bg-1: #F4F5F6;;

/*
 =================================================
 Light Theme Colors Variables
 =================================================
*/
// Main Brand Color
$color-primary--light: #2C6EE4;
$color-secondary--light: #7BA4EE;

// Accent Color
$color-accent--light: #E42C6E;

// Status Colors
$color-success--light: #41A42F;
$color-info--light: #2CCAE4;
$color-warning--light: #E4A22C;
$color-danger--light: #E4462C;
$color-light--light: #F3F5F8;

// Chart Colors
$chart-600--light: #F03FDE;
$chart-500--light: #A346EC;
$chart-400--light: #767AFB;
$chart-300--light: #21C0B8;
$chart-200--light: #F96950;
$chart-100--light: #08A8dC;

// Root
$root-backgroundColor--light: $bg-1;
$root-borderColor--light: rgba($gray-500, 0.12);
$root-hover-backgroundColor--light: rgba($gray-500, 0.04);

// Text
$text-titleColor--light: $gray-500;
$text-subtitleColor--light: $gray-300;
$text-bodyColor--light: $gray-400;

// Card
$card-backgroundColor--light: $true-white;
$card-borderColor--light: $root-borderColor--light;

// Popover
$popover-backgroundColor--light: $card-backgroundColor--light;

// Pill
$pill-default-backgroundColor--light: darken($root-backgroundColor--light, 4%);

// Background Images
$backgroundImage-checkbox-checked--light: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
$backgroundImage-checkbox-indeterminate--light: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
$backgroundImage-radio-checked--light: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
$backgroundImage-select--light: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23000' d='M2.84765 7.00022C3.0646 7.00022 3.28154 7.08327 3.44679 7.24852L12 15.8017L20.5532 7.24852C20.8846 6.91717 21.4201 6.91717 21.7515 7.24852C22.0828 7.57987 22.0828 8.11545 21.7515 8.4468L12.5991 17.5991C12.2678 17.9305 11.7322 17.9305 11.4009 17.5991L2.24851 8.4468C1.91716 8.11545 1.91716 7.57987 2.24851 7.24852C2.41376 7.08327 2.63071 7.00022 2.84765 7.00022Z'/%3e%3c/svg%3e");
$backgroundImage-search-close--light: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23444' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z'/%3e%3c/svg%3e");

// Logo
$backgroundImage-logo--light: url('../../assets/images/logo.svg');

// Skeleton
$skeleton-backgroundColor--light: rgba($text-titleColor--light, 0.04);
$skeleton-shineColor--light: rgba($text-titleColor--light, 0.10);

/*
 =================================================
 Dark Theme Colors Variables
 =================================================
*/

// Main Brand Color
$color-primary--dark: lighten($color-primary--light, 12%);
$color-secondary--dark: lighten($color-secondary--light, 20%);

// Accent Color
$color-accent--dark: lighten($color-accent--light, 16%);

// Status Colors
$color-success--dark: lighten($color-success--light, 20%);
$color-info--dark: lighten($color-info--light, 16%);
$color-warning--dark: lighten($color-warning--light, 12%);
$color-danger--dark: lighten($color-danger--light, 12%);
$color-light--dark: #565656;

// Chart Colors
$chart-600--dark: $chart-600--light;
$chart-500--dark: $chart-500--light;
$chart-400--dark: $chart-400--light;
$chart-300--dark: $chart-300--light;
$chart-200--dark: $chart-200--light;
$chart-100--dark: $chart-100--light;

// Root
$root-backgroundColor--dark: $gray-500;
$root-borderColor--dark: rgba($true-white, 0.12);
$root-hover-backgroundColor--dark: rgba($true-white, 0.06);

// Text
$text-titleColor--dark: #F2F2F2;
$text-subtitleColor--dark: darken($true-white, 24%);
$text-bodyColor--dark: darken($true-white, 12%);

// Card
$card-background-color--dark: $gray-400;

// Popover
$popover-backgroundColor--dark: lighten($card-background-color--dark, 8%);

// Pill
$pill-default-backgroundColor--dark: #444444;

// Background Images
$backgroundImage-checkbox-checked--dark: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23242424' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
$backgroundImage-checkbox-indeterminate--dark: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23242424' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
$backgroundImage-radio-checked--dark: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23242424'/%3e%3c/svg%3e");
$backgroundImage-select--dark: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFF' d='M2.84765 7.00022C3.0646 7.00022 3.28154 7.08327 3.44679 7.24852L12 15.8017L20.5532 7.24852C20.8846 6.91717 21.4201 6.91717 21.7515 7.24852C22.0828 7.57987 22.0828 8.11545 21.7515 8.4468L12.5991 17.5991C12.2678 17.9305 11.7322 17.9305 11.4009 17.5991L2.24851 8.4468C1.91716 8.11545 1.91716 7.57987 2.24851 7.24852C2.41376 7.08327 2.63071 7.00022 2.84765 7.00022Z'/%3e%3c/svg%3e");
$backgroundImage-search-close--dark: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23ccc' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z'/%3e%3c/svg%3e");

// Logo
$backgroundImage-logo--dark: url('../../assets/images/logo.svg');

// Skeleton
$skeleton-backgroundColor--dark: rgba($text-titleColor--dark, 0.56);
$skeleton-shineColor--dark: rgba($text-titleColor--dark, 0.12);

/*
 =================================================
 Other
 =================================================
*/

// Box-shadow
$shadow-default: 0 1px 1px rgba(0, 0, 0, .16), 0 1px 1px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .08);
$shadow-default-hover: 0 2px 4px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .12), 0 3px 6px rgba(0, 0, 0, .08);
$shadow-soft: 0 0 2px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.08);
$shadow-medium: 0 1px 4px rgba(0, 0, 0, 0.08), 0 0 2px rgba(0, 0, 0, 0.12);
$shadow-large: 1px 2px 6px rgba(18, 18, 18, 0.24), 0 0 4px rgba(0, 0, 0, 0.16), 1px 1px 2px rgba(0, 0, 0, 0.12);

// Breakpoints
$breakpoint-xs: 600px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// Fonts
$font-heading: 'DM Sans', sans-serif;
$font-body: 'DM Sans', sans-serif;

// Border Radius
$root-borderRadius: 0.25rem;

// zIndex
$zIndex-1001: 1001;
$zIndex-1000: 1000;
$zIndex-999: 999;
$zIndex-199: 199;
$zIndex-101: 101;
$zIndex-100: 100;
$zIndex-99: 99;
$zIndex-10: 10;
$zIndex-9: 9;
$zIndex-1: 1;

// sun yellow
$colorYellow: #FFFF1C;

$backgroundImage-map-pin: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52 66'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23F96950' stroke='%23A23B29' d='M49 25C49 41.228 26.658 63.756 25.707 64.707C25.5195 64.8945 25.2652 64.9998 25 64.9998C24.7348 64.9998 24.4805 64.8945 24.293 64.707C23.342 63.756 1 41.228 1 25C1 18.6348 3.52856 12.5303 8.02944 8.02944C12.5303 3.52856 18.6348 1 25 1C31.3652 1 37.4697 3.52856 41.9706 8.02944C46.4714 12.5303 49 18.6348 49 25Z'/%3e%3c/svg%3e");
