<div class="root-app-container" [class.sidenav-open]="isSidenavOpen">
  <app-side-nav class="root-app-sidenav" (sidenavCollapse)="onSidenavCollapse($event)"></app-side-nav>
  <div class="root-app-wrapper">
    <app-header class="root-app-header" (drawerOpen)="notificationDrawerOpen($event)"></app-header>
    <main class="root-app-main-view">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
