.root-app-container {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  position: relative;
  @include display-flex();
  @include transition(margin 0.3s ease);

  @include themify($themes) {
    color: themed('textBodyColor');
    background-color: themed('rootBackgroundColor');
  }

  &.sidenav-open {
    margin-left: 15rem;

    @include xs() {
      margin-left: 0;
    }
  }
}

.root-app-header {
  @include position-sticky();
  z-index: $zIndex-100;
  top: 0;

  @include themify($themes) {
    background-color: themed('rootBackgroundColor');
  }
}

.root-app-wrapper {
  @include display-flex();
  @include flex-direction(column);
  @include flex(1 1 auto);
  margin-left: 5rem;

  @include xs() {
    margin-left: 0;
  }
}

.root-app-sidenav {
}

.root-app-main-view {
  padding-top: 2.5rem;
  padding-bottom: 2rem;

  @include xs() {
    padding-top: 1.5rem;
    padding-block: 1.5rem;
  }
}

// Spinner

.cssload-parent {
  position: relative;
  overflow: auto;

  &.without-background {
    .cssload-overlay {
      background-color: $transparent !important;
    }
  }
}

.cssload-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zIndex-1001;

  @include themify($themes) {
    color: themed('colorInfo');
    background-color: rgba(themed('textTitleColor'), 0.16);
  }

  @include display-flex();
  @include align-items(center);
  @include justify-content(center);

  &.cssload-fixed {
    position: fixed;
    overflow: hidden;
  }

  .spinner {
    width: 5rem;
  }
}
