.toolbar {
  @include themify($themes) {
    display: block;
    border-bottom: 1px solid themed('rootBorderColor');

    .toolbar-container {
      @include app-container();
      @include display-flex();
      @include align-items(center);
      @include justify-content(space-between);
      height: 3.5rem;
    }

    .toolbar-left {
      @include display-flex();
      @include align-items(center);

      .toolbar-logo_container {
        width: 2.5rem;
        height: 2.5rem;
        background: themed('backgroundImageLogo') no-repeat;
        background-size: contain;
      }
    }

    .toolbar-right {
      display: grid;
      grid-template-columns: 2.5rem 2.5rem 1fr;
      align-items: center;
      grid-gap: 1rem;

      .profile-item {
        @include display-inline-flex();
        @include align-items(center);
        padding: 0.5rem;
        border-radius: $root-borderRadius;
        cursor: pointer;

        &:hover {
          background-color: rgba(themed('textBodyColor'), 0.12);
        }

        .app-avatar {
          @include display-inline-flex();
          @include align-items(center);
        }

        .title-regular {
          margin-left: 0.75rem;
        }
      }
    }

    @include xs() {
      .toolbar-left {
        margin-left: 3rem;
      }

      .toolbar-right {
        grid-gap: 0.25rem;
      }

      .profile-item {
        .title-regular {
          display: none;
        }
      }
    }
  }
}

.theme-dark {
  .theme-toggle-btn {
    color: $colorYellow;
  }

  .toolbar-logo_container {
  }
}
