.page-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  margin-bottom: 1rem;

  @include md() {
    grid-template-columns: auto 1fr;
  }
}

.page-header-left {
  margin-bottom: 1rem;
}

.page-header-right {
  @include display-flex();
  @include align-items(center);
  @include justify-content(flex-end);
  margin-bottom: 1rem;
}

.page-header-action-item {
  padding: 0 0.5rem;

  &:last-of-type {
    padding-right: 0;
  }

  &:first-of-type {
    padding-left: 0;
    @include flex(1 1 auto);
  }
}

.page-header-title {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: $font-heading;
  margin: 0;
}
