.side-nav {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100vh;
  padding: 1rem 0;
  z-index: $zIndex-101;
  box-shadow: $shadow-medium;
  background-color: $color-primary--light;

  // nav container
  .side-nav-container {
    @include display-flex();
    @include flex-direction(column);
    @include flex(1 1 auto);
  }

  // sidenav toggle area
  .side-nav-toggle {
    @include display-flex();
    @include align-items(center);
    @include justify-content(space-between);
    width: 100%;
    margin-top: -1rem;
    margin-bottom: 2.5rem;
    position: relative;
    min-height: 3.5rem;
    max-height: 3.5rem;

    .logo-img {
      height: 2rem;
      width: 100%;
      max-width: 0;
      opacity: 0;
      max-height: 2.5rem;
      @include transition();
      display: none;

      @include sm() {
        display: block;
      }
    }

    .toggle-menu-btn {
      position: absolute;
      right: 1.25rem;
      @include link-button($true-white);
      height: 2.75rem;
      width: 2.75rem;
      min-width: 2.75rem;

      .svg-icon-container {
        font-size: 1.5rem;
      }
    }
  }

  // nav link
  .side-nav-link {
    display: block;
    position: relative;
    outline: none;
    border: none;
    font-size: 1rem;

    &:hover {
      background-color: darken($color-primary--light, 2%);
    }

    &:before {
      display: none;
      content: '';
      width: 0.25rem;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $true-white;
    }

    &.active {
      background-color: darken($color-primary--light, 4%);

      &:before {
        display: block;
      }
    }
  }

  // nav item
  .side-nav-item {
    @include display-inline-flex();
    @include align-items(center);
    padding: 0 1.75rem;
    position: relative;
    color: $true-white;
    cursor: pointer;
    width: 5rem;
    height: 3.5rem;
    @include transition(width 0.3s ease);

    .svg-icon {
      height: 1.5rem;
      width: 1.5rem;
      min-width: 1.5rem;
    }

    .label {
      display: block;
      opacity: 0;
      width: 0;
      white-space: nowrap;
      transition: width 0.35s ease, padding 0.3s ease, opacity 0.15s ease;
    }
  }

  &.opened {
    .side-nav-toggle {
      .logo-img {
        opacity: 1;
        max-width: 12rem;
        padding-left: 1.75rem;
      }
    }

    .side-nav-item {
      width: 20rem;

      .label {
        opacity: 1;
        padding-left: 1.5rem;
        width: 100%;
      }
    }
  }

  @include xs() {
    transform: translateX(-100%);
    @include transition(transform 0.3s ease);
    .side-nav-item {
      width: 20rem;

      .label {
        opacity: 1;
        padding-left: 1.5rem;
        width: 100%;
      }
    }

    .side-nav-toggle {
      .toggle-menu-btn {
        right: -3.25rem;
        @include themify($themes) {
          @include link-button(themed('textBodyColor'));
        }

        .svg-icon-container {
          font-size: 1.25rem;
        }
      }
    }

    &.opened {
      transform: translateX(0);

      .side-nav-toggle {
        .toggle-menu-btn {
          right: 1.25rem;
          color: $true-white;
        }
      }
    }
  }
}

.theme-dark {
  .side-nav {
    background-color: lighten($card-background-color--dark, 2%);

    .side-nav-link {
      &:hover {
        background-color: lighten($card-background-color--dark, 8%);

        .side-nav-item {
          color: $color-primary--dark;
        }
      }

      &:before {
        background-color: $color-primary--dark;
      }

      &.active {
        background-color: lighten($card-background-color--dark, 12%);

        .side-nav-item {
          color: $color-primary--dark;
        }
      }
    }
  }
}
