<div class="drawer-container-wrapper" *ngIf="isOpen" [@drawerAnimation]="">
  <div class="drawer-container {{drawerContainerClass}} {{position}}">
    <ng-content></ng-content>
  </div>
  <div class="drawer-overlay" *ngIf="hasOverlay" (click)="closeDrawer($event)"></div>
</div>
