<div class="empty-state">
  <div class="wrapper">
    <div class="empty-default" *ngIf="type === 'default'">
      <svg width="120" height="115" viewBox="0 0 120 115" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M74.1719 5.30977C43.672 -9.69022 17.4375 7.70693 3.43751 49.7069C-10.5625 91.7069 21.172 121.81 45.172 112.31C69.172 102.81 95.6719 114.81 113.672 90.8098C131.672 66.8098 104.672 20.3098 74.1719 5.30977Z"
          fill="currentColor" fill-opacity="0.04"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M28 65.1957L43.0767 49.7502C43.6671 49.1454 44.4766 48.8043 45.3218 48.8043H74.6783C75.5234 48.8043 76.3329 49.1454 76.9233 49.7502L92 65.1957V80.9804C92 83.7526 89.7526 86 86.9804 86H33.0196C30.2474 86 28 83.7526 28 80.9804V65.1957ZM32.7059 63.9348L44.9412 51.3261H75.0588L87.2941 63.9348H71.6078V66.4834C71.6078 69.6022 69.0796 72.1304 65.9608 72.1304H54.0392C50.9204 72.1304 48.3922 69.6022 48.3922 66.4834V63.9348H32.7059ZM30.5 66.5H46C46 70.8631 49.537 74.4 53.9 74.4H66.1C70.463 74.4 74 70.8631 74 66.5H89.5V80.5C89.5 82.1569 88.1569 83.5 86.5 83.5H33.5C31.8431 83.5 30.5 82.1569 30.5 80.5V66.5ZM61.2549 42.5C61.2549 43.1964 60.6931 43.7609 60 43.7609C59.3069 43.7609 58.7451 43.1964 58.7451 42.5V29.2609C58.7451 28.5645 59.3069 28 60 28C60.6931 28 61.2549 28.5645 61.2549 29.2609V42.5ZM69.3693 43.6364C69.1899 44.309 68.5018 44.7082 67.8324 44.528C67.1629 44.3477 66.7657 43.6564 66.945 42.9837L70.3554 30.1957C70.5347 29.5231 71.2228 29.1239 71.8923 29.3041C72.5617 29.4844 72.959 30.1758 72.7796 30.8484L69.3693 43.6364ZM53.3287 42.9837C53.508 43.6564 53.1108 44.3477 52.4413 44.528C51.7719 44.7082 51.0838 44.309 50.9044 43.6364L47.4941 30.8484C47.3147 30.1758 47.712 29.4844 48.3814 29.3041C49.0508 29.1239 49.739 29.5231 49.9183 30.1957L53.3287 42.9837Z"
              fill="currentColor"/>
      </svg>
    </div>
    <div class="empty-box" *ngIf="type === 'box'">
      <svg width="120" height="115" viewBox="0 0 120 115" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M74.1719 5.30977C43.672 -9.69022 17.4375 7.70693 3.43751 49.7069C-10.5625 91.7069 21.172 121.81 45.172 112.31C69.172 102.81 95.6719 114.81 113.672 90.8098C131.672 66.8098 104.672 20.3098 74.1719 5.30977Z"
          fill="currentColor" fill-opacity="0.04"/>
        <path
          d="M81.7834 47.3173C81.6045 47.3173 81.2467 47.3173 81.0678 47.1384L59.2425 34.6157L37.4172 47.1384C36.7016 47.4962 35.8071 47.3173 35.4493 46.6017C35.0915 45.8861 35.2704 44.9916 35.986 44.6338L58.5269 31.5744C58.8847 31.3955 59.6003 31.3955 59.9581 31.5744L82.499 44.6338C83.2145 44.9916 83.3934 45.8861 83.0356 46.6017C82.6778 46.9595 82.3201 47.3173 81.7834 47.3173Z"
          fill="currentColor"/>
        <path
          d="M59.2425 89C59.0636 89 58.7058 89 58.5269 88.8211L35.986 75.9406C35.6282 75.7617 35.2704 75.225 35.2704 74.6883V58.7666C35.2704 58.051 35.986 57.3354 36.7016 57.3354C37.4172 57.3354 38.1328 58.051 38.1328 58.7666V73.7938L59.2425 85.9588L80.3522 73.7938V58.7666C80.3522 58.051 81.0678 57.3354 81.7834 57.3354C82.499 57.3354 83.2145 58.051 83.2145 58.7666V74.6883C83.2145 75.225 82.8567 75.7617 82.499 75.9406L59.9581 89C59.7792 89 59.4214 89 59.2425 89Z"
          fill="currentColor"/>
        <path
          d="M59.2425 89C58.5269 89 57.8113 88.2844 57.8113 87.5688V59.6611L35.986 47.1384C35.2704 46.7806 35.0915 45.8861 35.4493 45.1705C35.8071 44.4549 36.7016 44.276 37.4172 44.6338L59.9581 57.6932C60.3159 57.8721 60.6737 58.4088 60.6737 58.9455V87.7477C60.6737 88.4633 59.9581 89 59.2425 89Z"
          fill="currentColor"/>
        <path
          d="M59.2425 60.1978C58.7058 60.1978 58.348 60.0189 57.9902 59.4822C57.6324 58.7666 57.8113 57.8721 58.5269 57.5143L81.0678 44.4549C81.7834 44.0971 82.6778 44.276 83.0356 44.9916C83.3934 45.7072 83.2145 46.6017 82.4989 46.9595L59.9581 60.0189C59.7792 60.1978 59.4214 60.1978 59.2425 60.1978Z"
          fill="currentColor"/>
        <path
          d="M81.7834 47.3173C81.2467 47.3173 80.8889 47.1384 80.5311 46.6017C80.1733 45.8861 80.3522 44.9916 81.0678 44.6338L90.1915 39.4459L70.5129 28.1754L59.9581 34.2579C59.2425 34.6157 58.348 34.4368 57.9902 33.7212C57.6324 33.0056 57.8113 32.1111 58.5269 31.7533L69.7973 25.3131C70.1551 25.1342 70.8707 25.1342 71.2285 25.3131L93.7694 38.3725C94.1272 38.5514 94.485 39.0881 94.485 39.6247C94.485 40.1614 94.1272 40.6981 93.7694 40.877L82.4989 46.9595C82.32 47.1384 81.9623 47.3173 81.7834 47.3173Z"
          fill="currentColor"/>
        <path
          d="M36.7016 47.3173C36.5227 47.3173 36.1649 47.3173 35.986 47.1384L24.7156 40.6981C24.3578 40.5192 24 39.9825 24 39.4458C24 38.9092 24.3578 38.3725 24.7156 38.1936L47.2565 25.1342C47.6143 24.9553 48.3298 24.9553 48.6876 25.1342L59.9581 31.5744C60.6737 31.9322 60.8526 32.8267 60.4948 33.5423C60.137 34.2579 59.2425 34.4368 58.5269 34.079L47.972 27.9965L28.2935 39.2669L37.4172 44.4549C38.1328 44.8127 38.3117 45.7072 37.9539 46.4228C37.775 46.9595 37.2383 47.3173 36.7016 47.3173Z"
          fill="currentColor"/>
        <path
          d="M47.972 66.638C47.7932 66.638 47.4354 66.638 47.2565 66.4591L24.7156 53.3997C24.3578 53.2208 24 52.6841 24 52.1474C24 51.6107 24.3578 51.0741 24.7156 50.8952L35.986 44.4549C36.7016 44.0971 37.5961 44.276 37.9539 44.9916C38.3117 45.7072 38.1328 46.6017 37.4172 46.9595L28.2935 52.1474L47.972 63.4179L58.5269 57.3354C59.2425 56.9776 60.137 57.1565 60.4948 57.8721C60.8526 58.5877 60.6737 59.4822 59.9581 59.84L48.6876 66.2802C48.5087 66.638 48.1509 66.638 47.972 66.638Z"
          fill="currentColor"/>
        <path
          d="M70.5129 66.638C70.334 66.638 69.9762 66.638 69.7973 66.4591L58.5269 60.0189C57.8113 59.6611 57.6324 58.7666 57.9902 58.051C58.348 57.3354 59.2425 57.1565 59.9581 57.5143L70.5129 63.5968L90.1915 52.3263L81.0678 47.1384C80.3522 46.7806 80.1733 45.8861 80.5311 45.1705C80.8889 44.4549 81.7834 44.276 82.499 44.6338L93.7694 51.0741C94.1272 51.253 94.485 51.7897 94.485 52.3263C94.485 52.863 94.1272 53.3997 93.7694 53.5786L71.2285 66.638C71.0496 66.638 70.6918 66.638 70.5129 66.638Z"
          fill="currentColor"/>
      </svg>
    </div>
    <div class="empty-notification" *ngIf="type === 'notification'">
      <svg width="120" height="115" viewBox="0 0 120 115" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M74.1719 5.30977C43.672 -9.69022 17.4375 7.70693 3.43751 49.7069C-10.5625 91.7069 21.172 121.81 45.172 112.31C69.172 102.81 95.6719 114.81 113.672 90.8098C131.672 66.8098 104.672 20.3098 74.1719 5.30977Z"
          fill="currentColor" fill-opacity="0.04"/>
        <path
          d="M87.5991 79.3633L87.528 79.0787C87.1012 76.2335 84.1137 74.0285 81.6953 72.677C80.8417 72.1791 80.2727 71.2544 80.2727 70.1874V54.1118C80.2727 44.8648 74.2977 36.8982 66.0465 34.1241V32.3458C66.0465 28.7893 63.2013 25.944 59.6447 25.944C56.0882 25.944 53.243 28.7893 53.243 32.3458V34.0529C50.2555 34.9776 47.5525 36.6848 45.2763 38.8898C41.2218 42.802 39.0168 48.0657 39.0168 53.685V70.1874C39.0168 71.2544 38.4477 72.1791 37.5942 72.677C35.1757 74.0285 32.1171 76.2335 31.7614 79.0787L31.6903 79.3633C31.5481 80.5725 31.9037 81.8528 32.6861 82.7775C33.4686 83.7022 34.6778 84.2713 35.887 84.2713H52.6739C53.3141 87.5433 56.2304 89.9618 59.6447 89.9618C63.059 89.9618 65.9754 87.5433 66.6155 84.2713H83.4024C84.6116 84.2713 85.8209 83.7022 86.6033 82.7775C87.4569 81.8528 87.8125 80.6436 87.5991 79.3633ZM56.0882 32.3458C56.0882 30.3541 57.6531 28.7893 59.6447 28.7893C61.6364 28.7893 63.2013 30.3541 63.2013 32.3458V33.4128C62.2054 33.2705 61.2096 33.1282 60.2138 33.1282C58.7912 33.0571 57.4397 33.1994 56.0882 33.4128V32.3458ZM59.6447 87.1165C57.7953 87.1165 56.2304 85.9073 55.5903 84.2713H63.628C63.059 85.9073 61.4941 87.1165 59.6447 87.1165ZM84.4694 80.9281C84.1848 81.2838 83.8292 81.4261 83.4024 81.4261H35.887C35.4603 81.4261 35.1046 81.2838 34.8201 80.9281C34.5355 80.6436 34.4644 80.2168 34.4644 79.79L34.5355 79.5055C34.7489 78.2252 36.3138 76.6603 38.9457 75.1665C40.7239 74.1707 41.862 72.2502 41.862 70.1874V53.685C41.862 48.8482 43.7826 44.2958 47.268 40.9526C50.6111 37.6806 54.9501 35.9023 59.6447 35.9023C59.787 35.9023 60.0004 35.9023 60.1426 35.9023C69.6742 36.1869 77.4274 44.2958 77.4274 54.1118V70.2585C77.4274 72.3213 78.5655 74.2419 80.3438 75.2377C82.9756 76.6603 84.6116 78.2252 84.7539 79.5767L84.825 79.8612C84.8962 80.2168 84.7539 80.6436 84.4694 80.9281Z"
          fill="currentColor"/>
      </svg>
    </div>
    <div class="empty-search" *ngIf="type === 'search'">
      <svg width="120" height="115" viewBox="0 0 120 115" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M74.1719 5.30977C43.672 -9.69022 17.4375 7.70693 3.43751 49.7069C-10.5625 91.7069 21.172 121.81 45.172 112.31C69.172 102.81 95.6719 114.81 113.672 90.8098C131.672 66.8098 104.672 20.3098 74.1719 5.30977Z"
          fill="currentColor" fill-opacity="0.04"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M66.951 72.6402C62.7316 75.2245 57.7306 76.2232 52.8425 75.4577C41.4309 73.6658 33.6228 62.9746 35.387 51.5573C37.1804 40.145 47.8697 32.3361 59.2852 34.0988C70.696 35.8919 78.5036 46.5822 76.7407 57.9992C75.9838 62.8887 73.5113 67.3491 69.766 70.5817L80.4567 85.2168C80.7296 85.59 80.843 86.0564 80.7719 86.5133C80.7007 86.9701 80.4508 87.3799 80.0773 87.6524C79.7033 87.9252 79.2362 88.0379 78.779 87.9656C78.3217 87.8961 77.9109 87.6475 77.6371 87.2746L66.951 72.6402ZM38.8336 52.0943C37.3605 61.6094 43.8687 70.5206 53.3798 72.0113C62.8931 73.4815 71.8017 66.9735 73.295 57.4625C74.7654 47.948 68.2585 39.0386 58.7488 37.5455C49.2348 36.0726 40.3245 42.5819 38.8336 52.0943Z"
              fill="currentColor"/>
      </svg>
    </div>
  </div>
  <div class="message-container">
    <h6 class="title" *ngIf="title">{{title}}</h6>
    <p class="message" *ngIf="message">{{message}}</p>
  </div>
</div>
