<div class="confirm-delete-modal">
  <div class="modal-header with-border">
    <h5 class="title">{{data.title}}</h5>
    <button class="icon-btn icon-btn-circular btn-link-light" (click)="closeModal(false)">
      <div class="svg-icon-container">
        <i class="far fa-times"></i>
      </div>
    </button>
  </div>
  <div class="modal-body">
    <p class="info">{{data.message}}
    </p>
  </div>
  <div class="modal-footer with-border">
    <div class="btn-container">
      <button class="btn btn-outline-light" (click)="closeModal(false)">Cancel</button>
      <button class="btn btn-primary" (click)= 'closeModal(true)'>Confirm</button>
    </div>
  </div>
</div>
