$switch-active-bg-color: #5dca3e !default;
$switch-inactive-bg-color: #cccccc !default;
$switch-knob-bg-color: #fdfdfd !default;
$switch-disabled-knob-bg-color: #f8f8f8 !default;

:host {
  display: inline-flex;
}

.switch {
  display: inline-flex;
  align-items: center;

  .switch-input-label {
    display: inline-flex;
    align-items: center;
    background-color: $switch-inactive-bg-color;
    width: 3rem;
    padding: 0.125rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.75s ease;

    &:before {
      position: relative;
      content: '';
      display: inline-block;
      border-radius: 1rem;
      height: 1.5rem;
      width: 1.5rem;
      box-shadow: 0 0 3px rgba(0,0,0,0.32);
      background-color: $switch-knob-bg-color;
      transition: all 0.35s cubic-bezier(0.175, 0.885, 0.320, 1.175);
    }
  }

  .switch-label{
    margin-left: 0.75rem;
    cursor: pointer;
  }

  .switch-input {
    display: none;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    padding: 0;

    &:checked{
      + .switch-input-label {
        background-color: $switch-active-bg-color;

        &:before{
         transform: translateX(calc(100% - 0.25rem));
        }
      }
    }

    &:disabled {

      + .switch-input-label {
        opacity: 0.5;
        user-select: none;

        &:before {
          background-color: $switch-disabled-knob-bg-color;
        }
      }
    }
  }
}
